openapi: 3.0.1
info:
  title: Send Payment Transfer API
  description: Mastercard Send Payment Transfer API
  version: 1.0.1
  contact:
    name: API Support
    email: apisupport@mastercard.com
    url: https://developer.mastercard.com/support
servers:
  - url: https://sandbox.api.mastercard.com/send
    description: MTF URL
  - url: https://api.mastercard.com/send
    description: Production URL
tags:
  - name: Payment Transfer
    description: Create a payment transfer (Payment Transaction) to send funds to a recipient (POST request) and retrieve transfer details including latest status (GET request)
paths:
  "/v1/partners/{partnerId}/transfers/payment":
    post:
      tags:
      - Payment Transfer
      summary: "Create a payment transfer (Payment Transaction) to send funds to a recipient"
      description: "Each payment transfer has a unique `transfer_reference` ID, which you must provide in the request, and it will be assigned a unique system-generated ID (`id`), which is returned in the response. This API service supports the optional extra Idempotency feature. If you have that feature enabled (contact your Mastercard representative), you can make the same payment transfer request multiple times without worrying about the transaction being processed multiple times; see the Mastercard Send Person-to-Person documentation."
      operationId: createPayment
      parameters:
      - name: partnerId
        in: path
        description: "The Mastercard-assigned unique ID for the partner registered to use Mastercard Send. String, length 32."
        required: true
        schema:
          type: string
          minLength: 32
          maxLength: 32
        example: "ptnr_BEeCrYJHh2BXTXPy_PEtp-8DBOo"
      requestBody:
        description: Contains the details of the request message.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentTransferWrapper'
        required: true
      responses:
        '201':
          description: Response details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferWrapper'
  "/v1/partners/{partnerId}/transfers/{transferId}":
    get:
      tags:
      - Payment Transfer
      summary: "Retrieve details of a payment transfer, including latest status, by using the transfer ID that was returned when you created the transfer"
      description: "Example uses for this API call:\n\n - Get the network decline code and description when a transaction is declined\n\n - Get the latest status when a transaction response was 'UNKNOWN'\n\n - Transaction history and research purposes"
      operationId: getTransferById
      parameters:
      - name: partnerId
        in: path
        description: "The Mastercard-assigned unique ID for the partner registered to use Mastercard Send. String, length 32."
        required: true
        schema:
          type: string
          minLength: 32
          maxLength: 32
        example: "ptnr_BEeCrYJHh2BXTXPy_PEtp-8DBOo"
      - name: transferId
        in: path
        description: "Required. The system-generated Transfer ID (`id`) that was returned when you created the payment transfer. Alphanumeric and * , - . _ ~."
        required: true
        schema:
          type: string
        example: "trn_tN3S2cKGNt4hSmPwknYaiJd2BJrM"
      responses:
        '200':
          description: Response details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferWrapperGet'
  "/v1/partners/{partnerId}/transfers":
    get:
      tags:
      - Payment Transfer
      summary: "Retrieve details of a payment transfer, including latest status, by using the transfer_reference value you provided when you created the transfer"
      description: "Example uses for this API call:\n\n - Get the network decline code and description when a transaction is declined\n\n - Get the latest status when a transaction response was 'UNKNOWN'\n\n - Transaction history and research purposes"
      operationId: getTransferByRef
      parameters:
      - name: partnerId
        in: path
        description: "The Mastercard-assigned unique ID for the partner registered to use Mastercard Send. String, length 32."
        required: true
        schema:
          type: string
          minLength: 32
          maxLength: 32
        example: "ptnr_BEeCrYJHh2BXTXPy_PEtp-8DBOo"
      - name: ref
        in: query
        description: "Query parameter - Required. The unique `transfer_reference` that you provided when creating the payment transfer. Alphanumeric and * , - . _ ~. Length 6-40."
        required: true
        schema:
          type: string
          minLength: 6
          maxLength: 40
        example: "DEF123456"
      responses:
        '200':
          description: Response details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransfersWrapper'
components:
  schemas:
    Request_Sender_Address:
      required:
      - city
      - country
      - line1
      - postal_code
      type: object
      description: Address of the sender. Required. If you provide this object, you must provide `line1`, `city`, `postal_code` and `country`.
      properties:
        line1:
          type: string
          description: "Required. First line of the sender's address. Alphanumeric Special [a-zA-Z0-9 !\"#$%&'()*+,-./&#92;:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÛÜÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], length: 1-50. If you cannot provide the actual value, you must provide the alternative value '#NOTINCLUDED'."
          minLength: 1
          maxLength: 50
          example: "123 Elm St"
        line2:
          type: string
          description: "Second line of the sender's address. Alphanumeric Special [a-zA-Z0-9 !\"#$%&'()*+,-./&#92;:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÛÜÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], length: 1-50."
          minLength: 1
          maxLength: 50
          example: "Apartment 9"
        city:
          type: string
          description: "Required. The sender's city. Alphanumeric Special [a-zA-Z0-9 !\"#$%&'()*+,-./&#92;:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÛÜÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], length: 1-25. If you cannot provide the actual value, you must provide the alternative value '#NOTINCLUDED'."
          minLength: 1
          maxLength: 25
          example: "Chicago"
        country_subdivision:
          type: string
          description: "The sender's province, state or territory. Conditional, required if sender's `country` is USA or CAN. Must be an ISO 3166-2 uppercase alpha 2 or 3 character country subdivision code. For example, Missouri is MO."
          minLength: 2
          maxLength: 3
          example: "IL"
        postal_code:
          type: string
          description: "Required. The sender's postal code. For USA, this must be a valid value of 5 digits or 5 digits hyphen 4 digits, for example '63368', '63368-5555'. For other regions, this can be alphanumeric, length 1-10."
          minLength: 1
          maxLength: 10
          example: "60618"
        country:
          type: string
          description: "Required. The sender's country as an ISO 3166-1 uppercase alpha-3 country code; see [Country and Currency Codes](https://developer.mastercard.com/mastercard-send-person-to-person/documentation/field-uris-codes/country-currency-codes/). For example, the United States of America is USA."
          minLength: 3
          maxLength: 3
          example: "USA"
      xml:
        name: address
    GovernmentIds:
      type: object
      description: List of Government IDs.
      properties:
        government_id_uri:
          type: array
          description: "URI describing the government ID. See 'Government ID URIs'."
          items:
            type: string
            example: "ppn:123456789;expiration-date=2050-05-27;issue-date=2011-07-12;issuing-country=USA;issuing-place=OFallon"
      xml:
        name: government_ids
    GovernmentIdsResponse:
      type: object
      description: List of Government IDs.
      properties:
        government_id_uri:
          type: array
          description: "URI describing the government ID. See 'Government ID URIs'."
          items:
            type: string
            example: "ppn:*****6789;expiration-date=2050-05-27;issue-date=2011-07-12;issuing-country=USA;issuing-place=OFallon"
      xml:
        name: government_ids
    Sender:   # Payment Transfer POST request
      required:
      - first_name
      - last_name
      - address
      type: object
      description: Information about the sender of the transaction. Conditional. If a 'pan' or 'raw' scheme is provided in the `sender_account_uri`, this `sender` object is required. If you provide this object, you must provide `first_name`, `last_name`, and the `address` object.
      properties:
        first_name:
          type: string
          description: "Required. The sender's first name. Alphanumeric Special [a-zA-Z0-9 !\"#$%&'()*+,-./&#92;:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÛÜÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], length 1-40. If you cannot provide the actual value, you must provide the alternative value '#NOTINCLUDED'."
          minLength: 1
          maxLength: 40
          example: "John"
        middle_name:
          type: string
          description: "The sender's middle name. Alphanumeric Special [a-zA-Z0-9 !\"#$%&'()*+,-./&#92;:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÛÜÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], length 1-40."
          minLength: 1
          maxLength: 40
          example: "Tyler"
        last_name:
          type: string
          description: "Required. The sender's last name. Alphanumeric Special [a-zA-Z0-9 !\"#$%&'()*+,-./&#92;:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÛÜÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], length 1-40. If you cannot provide the actual value, you must provide the alternative value '#NOTINCLUDED'."
          minLength: 1
          maxLength: 40
          example: "Jones"
        nationality:
          type: string
          description: "The sender's nationality as an ISO 3166-1 uppercase alpha-3 country code; see [Country and Currency Codes](https://developer.mastercard.com/mastercard-send-person-to-person/documentation/field-uris-codes/country-currency-codes/). For example, the United States of America is USA."
          minLength: 3
          maxLength: 3
          example: "USA"
        date_of_birth:
          type: string
          description: "The sender's date of birth in ISO 8601 full date format (YYYY-MM-DD). For example, 30 December 1999 is the value '1999-12-30'. Numeric and -, length 10."
          minLength: 10
          maxLength: 10
          example: "1999-12-30"
        account_type:
          type: string
          description: "Identifies the sender's account number type. This field is optional. Valid values: '00' Other, '01' RTN + Bank Account, '02' IBAN, '03' Card Account, '04' Email, '05' Phone Number, '06' Bank account number (BAN) + Bank Identification Сode (BIC), '07' Wallet ID, '08' Social Network ID. Numeric, 2 characters."
          minLength: 2
          maxLength: 2
          example: "03"
        address:
          $ref: '#/components/schemas/Request_Sender_Address'
        phone:
          type: string
          description: "The sender's phone number including country code. Numeric, length 1-15."
          minLength: 1
          maxLength: 15
          example: "11234567890"
        email:
          type: string
          description: "The sender's email address. Alphanumeric Special [a-zA-Z0-9-@+.*$_], length 5-254."
          minLength: 5
          maxLength: 254
          example: "test123@abcmail.com"
        government_ids:
          $ref: '#/components/schemas/GovernmentIds'
      xml:
        name: sender
    TokenCryptogram:
      required:
      - type
      - value
      type: object
      description: Contains the Token Cryptogram fields that relate to a Recipient token. If you provide a tokenized PAN (token) for the Recipient Account URI, you may optionally provide the associated cryptogram information using these fields.
      properties:
        type:
          type: string
          description: "May be provided when the Recipient Account URI is a tokenized PAN, refer to 'Token Cryptogram' in the documentation. Alphanumeric special, length 22. Valid values: CONTACTLESS_CHIP, CONTACTLESS_MAGSTRIPE, DSRP_UCAF, CONTACT_CHIP, DSRP_DPD, DSRP_CHIP.

          - CONTACTLESS_CHIP: The cryptogram in token_cryptogram.value is the result of a contactless tap and chip information is read by the terminal.

          - CONTACTLESS_MAGSTRIPE: The cryptogram in token_cryptogram.value is the result of a contactless tap and the magstripe information is read by the terminal and the full track data is included without alteration or truncation.

          - DSRP_UCAF: The cryptogram in token_cryptogram.value is the result of an in-app purchase and the chip information is included as a Universal Cardholder Authentication Field (UCAF) value.

          - CONTACT_CHIP: The cryptogram in token_cryptogram.value is the result of PAN auto-entry via chip.

          - DSRP_DPD: The cryptogram in token_cryptogram.value is used to transport the digital payment data for electronic commerce (ecommerce) transactions.

          - DSRP_CHIP: The cryptogram in token_cryptogram.value is the result of PAN/token entry via ecommerce containing a Digital Secure Remote Payments (DSRP) cryptogram."
          example: "CONTACTLESS_CHIP"
        value:
          type: string
          description: "Contains formatted chip/cryptogram data relating to the token cryptogram. Format and length depends on the cryptogram type (token_cryptogram.type):

          - CONTACTLESS_CHIP: Hexadecimal [A-F0-9], length 2-510

          - CONTACTLESS_MAGSTRIPE: Hexadecimal [A-F0-9], length 2-510

          - DSRP_UCAF: Base64 [A-Za-z0-9+/=?:], length 1-510

          - CONTACT_CHIP: Hexadecimal [A-F0-9], length 2-510

          - DSRP_DPD: Base64 [A-Za-z0-9+/=?:], length 1-510

          - DSRP_CHIP: Hexadecimal [A-F0-9], length 2-510"
          example: "jjoutwsdgfdou124354ljlsdhgout968957"
        pan_sequence_number:
          type: string
          description: The PAN Sequence Number identifies and differentiates cards with the same PAN. Processors with chip-reading capability may pass this information for Contactless Chip and Contactless Magstripe transactions. This field may be present when token_cryptogram.type contains CONTACTLESS_CHIP, CONTACTLESS_MAGSTRIPE, CONTACT_CHIP, DSRP_DPD, or DSRP_CHIP. Numeric [0-9], length 3.
          example: "011"
      xml:
        name: token_cryptogram
    Authentication:
      type: object
      description: Customer would have to pass either Authentication code or Authentication value if they pass the Authentication object.
      properties:
        authentication_value:
          type: string
          description: List of name/value pairs containing authentication values. Refer 'Authentication Value URIs'
          example: "ucaf:jJJLtQa+Iws8AREAEbjsA1MAAAA"
        authentication_code:
          type: string
          description: Authentication Code indicates the authentication mechanism. This can contain one of the following values - AUTHENTICATED_CAVV, NON_AUTHENTICATED_3D_SECURE, NON_AUTHENTICATED and NON_SECURE.
          example: "AUTHENTICATED_CAVV"
      xml:
        name: authentication
    Request_Recipient_Address:
      type: object
      description: "Address of the recipient. Conditional, required when it is a Visa OCT payment and Recipient Account URI institution country is CAN."
      properties:
        line1:
          type: string
          description: "First line of the recipient's address. Alphanumeric Special [a-zA-Z0-9 !\"#$%&'()*+,-./&#92;:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÛÜÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], length: 1-50."
          minLength: 1
          maxLength: 50
          example: "435 Tucker St"
        line2:
          type: string
          description: "Second line of the recipient's address. Alphanumeric Special [a-zA-Z0-9 !\"#$%&'()*+,-./&#92;:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÛÜÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], length: 1-50."
          minLength: 1
          maxLength: 50
          example: "Apartment 9"
        city:
          type: string
          description: "The recipient's city. Alphanumeric Special [a-zA-Z0-9 !\"#$%&'()*+,-./&#92;:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÛÜÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], length: 1-25."
          minLength: 1
          maxLength: 25
          example: "St. Louis"
        country_subdivision:
          type: string
          description: "The recipient's province, state or territory. Conditional, required if recipient's `country` is USA or CAN. Must be an ISO 3166-2 uppercase alpha 2 or 3 character country subdivision code. For example, Missouri is MO."
          minLength: 2
          maxLength: 3
          example: "MO"
        postal_code:
          type: string
          description: "The recipient's postal code. Conditional, required when it is a Visa OCT payment and Recipient Account URI institution country is CAN. For USA, this must be a valid value of 5 digits or 5 digits hyphen 4 digits, for example '63368', '63368-5555'. For other regions, this can be alphanumeric, length 1-10."
          minLength: 1
          maxLength: 10
          example: "63103"
        country:
          type: string
          description: "The recipient's country as an ISO 3166-1 uppercase alpha-3 country code; see [Country and Currency Codes](https://developer.mastercard.com/mastercard-send-person-to-person/documentation/field-uris-codes/country-currency-codes/). For example, the United States of America is USA."
          minLength: 3
          maxLength: 3
          example: "USA"
      xml:
        name: address
    Recipient:   # Payment Transfer POST request
      required:
      - first_name
      - last_name
      type: object
      description: Information about the recipient of the transaction. Conditional. If a 'pan' scheme is provided in the `recipient_account_uri`, this `recipient` object is required. If you provide this object, you must provide `first_name` and `last_name`.
      properties:
        first_name:
          type: string
          description: "Required. The recipient's first name. Alphanumeric Special [a-zA-Z0-9 !\"#$%&'()*+,-./&#92;:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÛÜÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], length 1-40. If you cannot provide the actual value, you must provide the alternative value '#NOTINCLUDED'."
          minLength: 1
          maxLength: 40
          example: "John"
        middle_name:
          type: string
          description: "The recipient's middle name. Alphanumeric Special [a-zA-Z0-9 !\"#$%&'()*+,-./&#92;:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÛÜÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], length 1-40."
          minLength: 1
          maxLength: 40
          example: "Tyler"
        last_name:
          type: string
          description: "Required. The recipient's last name. Alphanumeric Special [a-zA-Z0-9 !\"#$%&'()*+,-./&#92;:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÛÜÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], length 1-40. If you cannot provide the actual value, you must provide the alternative value '#NOTINCLUDED'."
          minLength: 1
          maxLength: 40
          example: "Jones"
        nationality:
          type: string
          description: "The recipient's nationality as an ISO 3166-1 uppercase alpha-3 country code; see [Country and Currency Codes](https://developer.mastercard.com/mastercard-send-person-to-person/documentation/field-uris-codes/country-currency-codes/). For example, the United States of America is USA."
          minLength: 3
          maxLength: 3
          example: "USA"
        date_of_birth:
          type: string
          description: "The recipient's date of birth in ISO 8601 full date format (YYYY-MM-DD). For example, 30 December 1999 is the value '1999-12-30'. Numeric and -, length 10."
          minLength: 10
          maxLength: 10
          example: "1999-12-30"
        account_type:
          type: string
          description: "Identifies the recipient's account number type. This field is optional. Valid values: '00' Other, '01' RTN + Bank Account, '02' IBAN, '03' Card Account, '04' Email, '05' Phone Number, '06' Bank account number (BAN) + Bank Identification Сode (BIC), '07' Wallet ID, '08' Social Network ID. Numeric, 2 characters."
          minLength: 2
          maxLength: 2
          example: "03"
        address:
          $ref: '#/components/schemas/Request_Recipient_Address'
        phone:
          type: string
          description: "The recipient's phone number including country code. Numeric, length 1-15."
          minLength: 1
          maxLength: 15
          example: "11234567890"
        email:
          type: string
          description: "The recipient's email address. Alphanumeric Special [a-zA-Z0-9-@+.*$_], length 5-254."
          minLength: 5
          maxLength: 254
          example: "test123@abcmail.com"
        government_ids:
          $ref: '#/components/schemas/GovernmentIds'
        name_on_account:
          type: string
          description: 'Name on the account. Applicable for non-card only. Allowable characters are alphanumeric and - / ? : ( ) . + # = ! % & * < > ; { @ '' " characters. Details- Conditional, Required for non-card only, 1-40'
          example: "Jane Smith"
      xml:
        name: recipient
    CustomField:
      required:
      - name
      - value
      type: object
      description: Contains custom field names and values to appear in the reconciliation report. This can be a list of multiple name/value pairs in request. The names provided must match the configured in the partner setup.
      properties:
        name:
          type: string
          description: Name to be displayed in the reconciliation report. This value will appear as a header in the reconciliation reports. Name values to be defined during the onboarding process. Details- 1-40
          example: "TransactionID"
        value:
          type: string
          description: Value to be displayed in the reconciliation report. Details-
            1-40
          example: "456FDWBS43"
      xml:
        name: custom_field
    ReconciliationData:
      type: object
      description: Reconciliation information in request that will be associated to the transfer and will appear in the reconciliation reporting for the partner.
      properties:
        custom_field:
          type: array
          description: Contains custom field names and values to appear in the reconciliation report. This can be a list of multiple name/value pairs in request. The names provided must match the configured in the partner setup.
          items:
            $ref: '#/components/schemas/CustomField'
      xml:
        name: reconciliation_data
    FundingTransactionReference:
      required:
      - network
      - reference_number
      type: object
      description: For future use. This section describes information is used by the Mastercard and Visa networks to link a funding and payment transaction when both card accounts are Visa accounts or both accounts are Mastercard accounts.
      properties:
        network:
          type: string
          description: For future use. Network on which funding transaction is processed. Valid values will be provided during partner onboarding.
          example: "MASTERCARD"
        reference_number:
          type: string
          description: For future use. Provide the ID from the funding transfer resource. Details- 6-40
          example: "trn_8h4me233jk23l6c5lw5f"
      xml:
        name: funding_transaction_reference
    Request_Participant:
      type: object
      description: Information about a participant that may be passed along to the
        network.
      properties:
        merchant_category_code:
          type: string
          description: "Classification of the merchant's type of business or service. Please contact your Mastercard representative to enable the usage of fields in this section. Details- numeric, 4."
          example: "6536"
        interchange_rate_designator:
          type: string
          description: "The IRD used for clearing the transaction on the Mastercard network. Details - Alphanumeric, length 2 characters."
          example: "A3"
        card_acceptor_id:
          type: string
          description: "Code identifying the card acceptor. Please contact your Mastercard representative to enable the usage of fields in this section. Details- alphanumeric, 10-15."
          example: "CardAcceptor123"
        customer_service_contact_info:
          type: string
          description: "Customer service phone number that may be displayed on the recipient's bank or card statement. For U.S. or Canada regions, this must be a 10-digit phone number (e.g. 8005551234). For other regions, any length up to 13 digits is permitted. The phone number must be numeric without special characters such as spaces, - or ( ). To enable usage of this field, please contact your Mastercard representative. Details - numeric, 1-13."
          example: "8005551234"
        transfer_acceptor_address:
          $ref: '#/components/schemas/Request_Transfer_Acceptor_Address'
      xml:
        name: participant
    Response_Participant:
      type: object
      description: Information about a participant that may be passed along to the network. 
      properties:
        merchant_category_code:
          type: string
          description: "Classification of the merchant's type of business or service. The value in the response is the code passed to the network and it may be different from the value provided in the request. Details- numeric, 4."
          example: "6536"
        interchange_rate_designator:
          type: string
          description: "The IRD used for clearing the transaction on the Mastercard network. Details - Alphanumeric, length 2 characters."
          example: "A3"
        card_acceptor_id:
          type: string
          description: "Code identifying the card acceptor. Please contact your Mastercard representative to enable the usage of fields in this section. Details- alphanumeric, 10-15."
          example: "CardAcceptor123"
        customer_service_contact_info:
          type: string
          description: "Customer service phone number that may be displayed on the recipient's bank or card statement. For U.S. or Canada regions, this must be a 10-digit phone number (e.g. 8005551234). For other regions, any length up to 13 digits is permitted. The phone number must be numeric without special characters such as spaces, - or ( ). To enable usage of this field, please contact your Mastercard representative. Details - numeric, 1-13."
          example: "8005551234"
        transfer_acceptor_address:
          $ref: '#/components/schemas/Response_Transfer_Acceptor_Address'
      xml:
        name: participant
    Request_Transfer_Acceptor_Address:
      required:
      - city
      - country
      - line1
      type: object
      description: Address of the transfer acceptor in request.
      properties:
        line1:
          type: string
          description: "Required. First line of the transfer acceptor's address. Alphanumeric Special [a-zA-Z0-9 !\"#$%&'()*+,-./&#92;:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÛÜÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], length: 1-50."
          minLength: 1
          maxLength: 50
          example: "123 Elm St"
        line2:
          type: string
          description: "Second line of the transfer acceptor's address. Alphanumeric Special [a-zA-Z0-9 !\"#$%&'()*+,-./&#92;:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÛÜÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], length: 1-50."
          minLength: 1
          maxLength: 50
          example: "Apartment 9"
        city:
          type: string
          description: "Required. The transfer acceptor's city. Alphanumeric Special [a-zA-Z0-9 !\"#$%&'()*+,-./&#92;:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÛÜÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], length: 1-25."
          minLength: 1
          maxLength: 25
          example: "Chicago"
        country_subdivision:
          type: string
          description: "The transfer acceptor's province, state or territory. Conditional, required if transfer acceptor's `country` is USA or CAN. Must be an ISO 3166-2 uppercase alpha 2 or 3 character country subdivision code. For example, Missouri is MO."
          minLength: 2
          maxLength: 3
          example: "IL"
        postal_code:
          type: string
          description: "The transfer acceptor's postal code. For USA, this must be a valid value of 5 digits or 5 digits hyphen 4 digits, for example '63368', '63368-5555'. For other regions, this can be alphanumeric, length 1-10."
          minLength: 1
          maxLength: 10
          example: "60618"
        country:
          type: string
          description: "Required. The transfer acceptor's country as an ISO 3166-1 uppercase alpha-3 country code; see [Country and Currency Codes](https://developer.mastercard.com/mastercard-send-person-to-person/documentation/field-uris-codes/country-currency-codes/). For example, the United States of America is USA."
          minLength: 3
          maxLength: 3
          example: "USA"
      xml:
        name: transfer_acceptor_address
    Response_Transfer_Acceptor_Address:
      type: object
      description: Address of the transfer acceptor in response.
      properties:
        line1:
          type: string
          description: "First line of the transfer acceptor's address. Alphanumeric Special [a-zA-Z0-9 !\"#$%&'()*+,-./&#92;:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÛÜÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], length: 1-50."
          minLength: 1
          maxLength: 50
          example: "1 Main St"
        line2:
          type: string
          description: "Second line of the transfer acceptor's address. Alphanumeric Special [a-zA-Z0-9 !\"#$%&'()*+,-./&#92;:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÛÜÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], length: 1-50."
          minLength: 1
          maxLength: 50
          example: "Apartment 9"
        city:
          type: string
          description: "The transfer acceptor's city. Alphanumeric Special [a-zA-Z0-9 !\"#$%&'()*+,-./&#92;:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÛÜÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], length: 1-25."
          minLength: 1
          maxLength: 25
          example: "OFallon"
        country_subdivision:
          type: string
          description: "The transfer acceptor's province, state or territory, as an ISO 3166-2 uppercase alpha 2 or 3 character country subdivision code. For example, Missouri is MO."
          minLength: 2
          maxLength: 3
          example: "MO"
        postal_code:
          type: string
          description: "The transfer acceptor's postal code. For USA, this is 5 digits or 5 digits hyphen 4 digits, for example '63368', '63368-5555'. For other regions, this is alphanumeric, length 1-10."
          minLength: 1
          maxLength: 10
          example: "63368"
        country:
          type: string
          description: "The transfer acceptor's country as an ISO 3166-1 uppercase alpha-3 country code; see [Country and Currency Codes](https://developer.mastercard.com/mastercard-send-person-to-person/documentation/field-uris-codes/country-currency-codes/). For example, the United States of America is USA."
          minLength: 3
          maxLength: 3
          example: "USA"
      xml:
        name: transfer_acceptor_address
    PaymentTransfer:   # Payment Transfer POST request
      required:
      - amount
      - currency
      - funding_source
      - recipient_account_uri
      - sender_account_uri
      - transfer_reference
      type: object
      description: Contains the details of the request message.
      properties:
        transfer_reference:
          type: string
          description: "Required. A partner-assigned unique reference identifier for the payment transfer. Alphanumeric and * , - . _ ~. Length 6-40."
          minLength: 6
          maxLength: 40
          example: "DEF123456"
        payment_type:
          type: string
          description: "Conditional. Payment type of the transfer. The allowed payment types for the partner must be enabled by Mastercard during onboarding. If the partner is enabled for multiple payment types, the appropriate payment type must be provided. Otherwise the field is optional. Valid values:

            * A2A = General Transfer to Own Account

            * ACO = Agent Cash Out

            * C2C = Cash to Card

            * CBP = Payment of Own Credit Card Bill

            * P2P = General Person-to-Person Transfer"
          minLength: 3
          maxLength: 3
          example: "P2P"
        amount:
          type: string
          description: "Required. The amount to be transferred. Numeric integer, 1-999999999999. The decimal point is implied based on the relevant `currency` exponent. For example, a US Dollar $53 amount is a value of 5300."
          minLength: 1
          maxLength: 12
          example: "5300"
        currency:
          type: string
          description: "Required. The currency of the `amount` as an ISO 4217 uppercase alpha-3 currency code; see [Country and Currency Codes](https://developer.mastercard.com/mastercard-send-person-to-person/documentation/field-uris-codes/country-currency-codes/). For example, US Dollars is USD."
          minLength: 3
          maxLength: 3
          example: "USD"
        sender_account_uri:
          type: string
          description: "Required. URI identifying the sending account. For the allowed schemes and format, see [Account URIs](https://developer.mastercard.com/mastercard-send-person-to-person/documentation/field-uris-codes/account-uris/). See also [Funding Source](https://developer.mastercard.com/mastercard-send-person-to-person/documentation/field-uris-codes/funding-source/)."
          example: "pan:5102589999999921;exp=2077-02;cvc=123"
        sender:
          $ref: '#/components/schemas/Sender'
        additional_message:
          type: string
          description: Message a financial institution will associate to the transfer and may display. Details- 1-65
          example: "DEV123456"
        funding_source:
          type: string
          description: 'Funding source must contain one of the following: CREDIT, DEBIT, PREPAID, DEPOSIT_ACCOUNT, MOBILE_MONEY_ACCOUNT, CASH or OTHER.'
          example: "DEBIT"
        transaction_purpose:
          description: "Purpose of the transaction. Valid values: '00' Family Support, '01' Regular Labor Transfers (expatriates), '02' Travel & Tourism, '03' Education, '04' Hospitalization & Medical Treatment, '05' Emergency Need, '06' Savings, '07' Gifts, '08' Other, '09' Salary, '10' Crowd lending, '11' Crypto currency, '12' Refund to original card, '13' Refund to new card. String, numeric, length 2."
          type: string
          minLength: 2
          maxLength: 2
          example: "00"
        participation_id:
          type: string
          description: Participation identifier of the sender. The receiving financial institution will associate the value to the transfer. Details- 1-30
          example: "TERMINAL34728"
        canada_domestic_indicator:
          type: boolean
          description: "If a Canadian OI, TI or Reseller has elected to include Debit Mastercard in scope, the value should be true. Mastercard will decline a transaction if the value is not passed as true and it is a Canada DMC (Network Response: '81' Domestic Debit Transaction Not Allowed)."
          example: "true"
        token_cryptogram:
          $ref: '#/components/schemas/TokenCryptogram'
        ds_transaction_id:
          type: string
          description: The Directory Server Transaction ID is generated by the EMV 3DS Mastercard Directory Server during the authentication transaction and passed back to the merchant with the authentication results ds_transaction_id allows the OI to pass the Directory Server Transaction ID during authorization in order to link authentication and authorization data. Values- ans-36
          example: "f38e6948-5388-41a6-bca4-b49723c19437"
        authentication:
          $ref: '#/components/schemas/Authentication'
        recipient_account_uri:
          type: string
          description: "Required. URI identifying the receiving account. For the allowed schemes and format, see [Account URIs](https://developer.mastercard.com/mastercard-send-person-to-person/documentation/field-uris-codes/account-uris/)."
          example: "pan:5102589999999913;exp=2077-02;cvc=123"
        recipient:
          $ref: '#/components/schemas/Recipient'
        payment_origination_country:
          type: string
          description: 'The country where the payment originates from as an ISO 3166-1 alpha-3 country code, in uppercase. Details - Conditional. If provided, this should match a valid country configured for the partner during onboarding. If the partner is configured for multiple origination countries this field is required and must be provided. Alpha, length: 3'
          minLength: 3
          maxLength: 3
          example: "USA"
        sanction_screening_override:
          type: boolean
          description: "The Sanctions Screening Service is suspended until further notice. However, you must provide the value 'true'."
          example: "true"
        reconciliation_data:
          $ref: '#/components/schemas/ReconciliationData'
        channel:
          type: string
          description: 'Initiation channel of the transfer request. This value can be defined in the onboarding process instead of passing in every call. Values: WEB, MOBILE, BANK, KIOSK. Details- Conditional'
          example: "WEB"
        statement_descriptor:
          type: string
          description: "The statement descriptor is the value that will be displayed on the recipient's bank or card statement. It consists of two parts: the prefix and the content. The prefix is a short string typically used to identify the partner. It is defined during onboarding and the same value can be provided in the API call. If not provided in the API call, system will use the value defined in the onboarding process. The appended <prefix>*<content> will be displayed on the recipient's statement. The overall length may be at most 22 characters, including the prefix and the content. Note: While most financial institutions display this information consistently, some may display it per their discretion or not at all. Details- 1-22"
          example: "THANKYOU"
        device_id:
          type: string
          description: The serial number of a device initiating the transfer. Details- 1-40
          example: "DEV123456"
        location:
          type: string
          description: Location where the transaction is initiated.
          example: "state:MO"
        funding_transaction_reference:
          $ref: '#/components/schemas/FundingTransactionReference'
        participant:
          $ref: '#/components/schemas/Request_Participant'
        transfer_priority:
          type: string
          description: 'Type of payment instruction to send. Applicable for non-card only. Values: SIP - Standard immediate payment (default), FDP - Future dated payment'
          example: "SIP"
      xml:
        name: payment_transfer
    P2p_Response_Sender_Address:
      type: object
      description: Address of the sender in response.
      properties:
        line1:
          type: string
          description: "First line of the sender's address. Alphanumeric Special [a-zA-Z0-9 !\"#$%&'()*+,-./&#92;:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÛÜÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], length: 1-50."
          minLength: 1
          maxLength: 50
          example: "1 Main St"
        line2:
          type: string
          description: "Second line of the sender's address. Alphanumeric Special [a-zA-Z0-9 !\"#$%&'()*+,-./&#92;:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÛÜÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], length: 1-50."
          minLength: 1
          maxLength: 50
          example: "Apartment 9"
        city:
          type: string
          description: "The sender's city. Alphanumeric Special [a-zA-Z0-9 !\"#$%&'()*+,-./&#92;:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÛÜÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], length: 1-25."
          minLength: 1
          maxLength: 25
          example: "OFallon"
        country_subdivision:
          type: string
          description: "The sender's province, state or territory, as an ISO 3166-2 uppercase alpha 2 or 3 character country subdivision code. For example, Missouri is MO."
          minLength: 2
          maxLength: 3
          example: "MO"
        postal_code:
          type: string
          description: "The sender's postal code. For USA, this is 5 digits or 5 digits hyphen 4 digits, for example '63368', '63368-5555'. For other regions, this is alphanumeric, length 1-10."
          minLength: 1
          maxLength: 10
          example: "63368"
        country:
          type: string
          description: "The sender's country as an ISO 3166-1 uppercase alpha-3 country code; see [Country and Currency Codes](https://developer.mastercard.com/mastercard-send-person-to-person/documentation/field-uris-codes/country-currency-codes/). For example, the United States of America is USA."
          minLength: 3
          maxLength: 3
          example: "USA"
      xml:
        name: address
    P2p_Sender:
      type: object
      description: Information about the sender of the transaction.
      properties:
        first_name:
          type: string
          description: "The sender's first name. Alphanumeric Special [a-zA-Z0-9 !\"#$%&'()*+,-./&#92;:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÛÜÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], length 1-40."
          minLength: 1
          maxLength: 40
          example: "John"
        middle_name:
          type: string
          description: "The sender's middle name. Alphanumeric Special [a-zA-Z0-9 !\"#$%&'()*+,-./&#92;:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÛÜÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], length 1-40."
          minLength: 1
          maxLength: 40
          example: "Tyler"
        last_name:
          type: string
          description: "The sender's last name. Alphanumeric Special [a-zA-Z0-9 !\"#$%&'()*+,-./&#92;:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÛÜÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], length 1-40."
          minLength: 1
          maxLength: 40
          example: "Jones"
        nationality:
          type: string
          description: "The sender's nationality as an ISO 3166-1 uppercase alpha-3 country code; see [Country and Currency Codes](https://developer.mastercard.com/mastercard-send-person-to-person/documentation/field-uris-codes/country-currency-codes/). For example, the United States of America is USA."
          minLength: 3
          maxLength: 3
          example: "USA"
        date_of_birth:
          type: string
          description: "The sender's date of birth in ISO 8601 full date format (YYYY-MM-DD). For example, 30 December 1999 is the value '1999-12-30'. Numeric and -, length 10."
          minLength: 10
          maxLength: 10
          example: "1999-12-30"
        account_type:
          type: string
          description: "Identifies the sender's account number type. This field is optional. Valid values: '00' Other, '01' RTN + Bank Account, '02' IBAN, '03' Card Account, '04' Email, '05' Phone Number, '06' Bank account number (BAN) + Bank Identification Сode (BIC), '07' Wallet ID, '08' Social Network ID. Numeric, 2 characters."
          minLength: 2
          maxLength: 2
          example: "03"
        address:
          $ref: '#/components/schemas/P2p_Response_Sender_Address'
        phone:
          type: string
          description: "The sender's phone number including country code. Numeric, length 1-15."
          minLength: 1
          maxLength: 15
          example: "11234567890"
        email:
          type: string
          description: "The sender's email address. Alphanumeric Special [a-zA-Z0-9-@+.*$_], length 5-254."
          minLength: 5
          maxLength: 254
          example: "test123@abcmail.com"
        government_ids:
          $ref: '#/components/schemas/GovernmentIdsResponse'
        sanction_score:
          type: string
          description: "This field is not used at this time. The Sanctions Screening Service is suspended until further notice."
          example: "20"
      xml:
        name: sender
    P2p_Response_Recipient_Address:
      type: object
      description: Address of the recipient in response.
      properties:
        line1:
          type: string
          description: "First line of the recipient's address. Alphanumeric Special [a-zA-Z0-9 !\"#$%&'()*+,-./&#92;:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÛÜÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], length: 1-50."
          minLength: 1
          maxLength: 50
          example: "1 Main St"
        line2:
          type: string
          description: "Second line of the recipient's address. Alphanumeric Special [a-zA-Z0-9 !\"#$%&'()*+,-./&#92;:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÛÜÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], length: 1-50."
          minLength: 1
          maxLength: 50
          example: "Apartment 9"
        city:
          type: string
          description: "The recipient's city. Alphanumeric Special [a-zA-Z0-9 !\"#$%&'()*+,-./&#92;:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÛÜÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], length: 1-25."
          minLength: 1
          maxLength: 25
          example: "OFallon"
        country_subdivision:
          type: string
          description: "The recipient's province, state or territory, as an ISO 3166-2 uppercase alpha 2 or 3 character country subdivision code. For example, Missouri is MO."
          minLength: 2
          maxLength: 3
          example: "MO"
        postal_code:
          type: string
          description: "The recipient's postal code. For USA, this is 5 digits or 5 digits hyphen 4 digits, for example '63368', '63368-5555'. For other regions, this is alphanumeric, length 1-10."
          minLength: 1
          maxLength: 10
          example: "63368"
        country:
          type: string
          description: "The recipient's country as an ISO 3166-1 uppercase alpha-3 country code; see [Country and Currency Codes](https://developer.mastercard.com/mastercard-send-person-to-person/documentation/field-uris-codes/country-currency-codes/). For example, the United States of America is USA."
          minLength: 3
          maxLength: 3
          example: "USA"
      xml:
        name: address
    P2p_Recipient:
      type: object
      description: Information about the recipient of the transaction.
      properties:
        first_name:
          type: string
          description: "The recipient's first name. Alphanumeric Special [a-zA-Z0-9 !\"#$%&'()*+,-./&#92;:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÛÜÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], length 1-40."
          minLength: 1
          maxLength: 40
          example: "John"
        middle_name:
          type: string
          description: "The recipient's middle name. Alphanumeric Special [a-zA-Z0-9 !\"#$%&'()*+,-./&#92;:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÛÜÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], length 1-40."
          minLength: 1
          maxLength: 40
          example: "Tyler"
        last_name:
          type: string
          description: "The recipient's last name. Alphanumeric Special [a-zA-Z0-9 !\"#$%&'()*+,-./&#92;:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÛÜÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], length 1-40."
          minLength: 1
          maxLength: 40
          example: "Jones"
        nationality:
          type: string
          description: "The recipient's nationality as an ISO 3166-1 uppercase alpha-3 country code; see [Country and Currency Codes](https://developer.mastercard.com/mastercard-send-person-to-person/documentation/field-uris-codes/country-currency-codes/). For example, the United States of America is USA."
          minLength: 3
          maxLength: 3
          example: "USA"
        date_of_birth:
          type: string
          description: "The recipient's date of birth in ISO 8601 full date format (YYYY-MM-DD). For example, 30 December 1999 is the value '1999-12-30'. Numeric and -, length 10."
          minLength: 10
          maxLength: 10
          example: "1999-12-30"
        account_type:
          type: string
          description: "Identifies the recipient's account number type. This field is optional. Valid values: '00' Other, '01' RTN + Bank Account, '02' IBAN, '03' Card Account, '04' Email, '05' Phone Number, '06' Bank account number (BAN) + Bank Identification Сode (BIC), '07' Wallet ID, '08' Social Network ID. Numeric, 2 characters."
          minLength: 2
          maxLength: 2
          example: "03"
        address:
          $ref: '#/components/schemas/P2p_Response_Recipient_Address'
        phone:
          type: string
          description: "The recipient's phone number including country code. Numeric, length 1-15."
          minLength: 1
          maxLength: 15
          example: "11234567890"
        email:
          type: string
          description: "The recipient's email address. Alphanumeric Special [a-zA-Z0-9-@+.*$_], length 5-254."
          minLength: 5
          maxLength: 254
          example: "test123@abcmail.com"
        government_ids:
          $ref: '#/components/schemas/GovernmentIdsResponse'
        name_on_account:
          type: string
          description: 'Name on the account. Applicable for non-card only. Allowable characters are alphanumeric and - / ? : ( ) . + # = ! % & * < > ; { @ '' " characters. Details- 1-40'
          example: "Jane Smith"
        sanction_score:
          type: string
          description: "This field is not used at this time. The Sanctions Screening Service is suspended until further notice."
          example: "20"
      xml:
        name: recipient
    TransferAmount:
      type: object
      description: Describes the amount paid to the recipient.
      properties:
        value:
          type: string
          description: "The transfer amount. Numeric integer, 1-999999999999. The decimal point is implied based on the relevant `currency` exponent. For example, a US Dollar $53 amount is a value of 5300."
          minLength: 1
          maxLength: 12
          example: "5300"
        currency:
          type: string
          description: "The currency of the transfer amount as an ISO 4217 uppercase alpha-3 currency code; see [Country and Currency Codes](https://developer.mastercard.com/mastercard-send-person-to-person/documentation/field-uris-codes/country-currency-codes/). For example, US Dollars is USD."
          minLength: 3
          maxLength: 3
          example: "USD"
      xml:
        name: transfer_amount
    TransactionAmount:
      type: object
      description: transaction amount consist of value and currency
      properties:
        value:
          type: string
          description: "The transaction amount. Numeric integer, 1-999999999999. The decimal point is implied based on the relevant `currency` exponent. For example, a US Dollar $53 amount is a value of 5300."
          minLength: 1
          maxLength: 12
          example: "5300"
        currency:
          type: string
          description: "The currency of the transaction amount as an ISO 4217 uppercase alpha-3 currency code; see [Country and Currency Codes](https://developer.mastercard.com/mastercard-send-person-to-person/documentation/field-uris-codes/country-currency-codes/). For example, US Dollars is USD."
          minLength: 3
          maxLength: 3
          example: "USD"
      xml:
        name: transaction_amount
    Transaction:
      type: object
      description: Transaction array
      properties:
        id:
          type: string
          description: "The ID for the Payment Transaction. Alphanumeric and * , - . _ ~."
          example: "txn_6OfMaoFhuRR1nKUu5EX5wREXcqs8"
        resource_type:
          type: string
          description: "The type of resource being returned: transaction."
          minLength: 11
          maxLength: 11
          example: "transaction"
        account_uri:
          type: string
          description: "URI describing the receiving account. It will include masked account information (e.g. \"************9913\" for a card account) but will not include security codes (e.g. CVC or expiration date for a card account). See [Account URIs](https://developer.mastercard.com/mastercard-send-person-to-person/documentation/field-uris-codes/account-uris/)."
          example: "pan:************9913"
        transaction_amount:
          $ref: '#/components/schemas/TransactionAmount'
        network:
          type: string
          description: Proposed network for the transaction.
          example: "MasterCard"
        funds_availability:
          type: string
          description: 'An estimate of when the funds might be available. Actual Deposit Availability is determined by the financial institution. One of: IMMEDIATE, SAME_DAY, NEXT_CALENDAR_DAY, NEXT_BUSINESS_DAY, TWO_TO_FIVE_BUSINESS_DAYS, or UNKNOWN.'
          example: "IMMEDIATE"
        type:
          type: string
          description: 'Type of the transaction. One of: FUNDING, PAYMENT, FUNDING_REVERSAL, or PAYMENT_REVERSAL.'
          example: "PAYMENT"
        create_timestamp:
          type: string
          description: "Date and time the transaction was created, as an ISO 8601 timestamp in the format YYYY-MM-DDTHH:MM:SS±hh:mm. Refer to 'Date and Time Formats'."
          example: "2021-04-16T13:28:15-05:00"
        status:
          type: string
          description: Status of the transfer. One of APPROVED, DECLINED, UNKNOWN, ERROR, PENDING. PENDING is possible for non-card transactions (not applicable to card).
          example: "APPROVED"
        status_reason:
          type: string
          description: Reason for status. One of APPROVED, DECLINED, UNKNOWN, ERROR, PENDING, FRAUD, CARD_EXPIRED, LIMIT_EXCEEDED. PENDING is possible for non-card transactions (not applicable to card).
          example: "APPROVED"
        status_timestamp:
          type: string
          description: "Date and time the status was changed to its current value, as an ISO 8601 timestamp in the format YYYY-MM-DDTHH:MM:SS±hh:mm. Refer to 'Date and Time Formats'."
          example: "2021-04-16T13:28:15-05:00"
        retrieval_reference:
          type: string
          description: Unique reference number that identifies the transaction at the network. Details- maximum length 24
          example: "624200192616"
        system_trace_audit_number:
          type: string
          description: Unique system trace audit number for the transaction, the STAN (system trace audit number). Details- maximum length 6
          example: "926162"
        unique_reference_number:
          type: string
          description: 'Unique reference number for the transaction. Type: Alphanumeric [a-zA-Z 0-9], Maximum Length: 19'
          example: "592087939"
      xml:
        name: transaction
    Data:
      type: object
      description: An array containing the Transactions in the transfer.
      properties:
        transaction:
          type: array
          description: transaction array
          items:
            $ref: '#/components/schemas/Transaction'
      xml:
        name: data
    TransactionHistory:
      type: object
      description: A list of all Transactions in the transfer including reversals.
      properties:
        resource_type:
          type: string
          description: "The type of resource being returned: list."
          minLength: 4
          maxLength: 4
          example: "list"
        item_count:
          type: integer
          description: 'The number of Transactions in the list: 1.'
          format: int64
          example: "1"
        data:
          $ref: '#/components/schemas/Data'
      xml:
        name: transaction_history
    TransactionGet:
      type: object
      description: Transaction array
      properties:
        id:
          type: string
          description: "The ID for the Payment Transaction. Alphanumeric and * , - . _ ~."
          example: "txn_6OfMaoFhuRR1nKUu5EX5wREXcqs8"
        resource_type:
          type: string
          description: "The type of resource being returned: transaction."
          minLength: 11
          maxLength: 11
          example: "transaction"
        account_uri:
          type: string
          description: "URI describing the receiving account. It will include masked account information (e.g. \"************9913\" for a card account) but will not include security codes (e.g. CVC or expiration date for a card account). See [Account URIs](https://developer.mastercard.com/mastercard-send-person-to-person/documentation/field-uris-codes/account-uris/)."
          example: "pan:************9913"
        transaction_amount:
          $ref: '#/components/schemas/TransactionAmount'
        network:
          type: string
          description: Proposed network for the transaction.
          example: "MasterCard"
        network_status_code:
          type: string
          description: Network Status Code.
          example: "00"
        network_status_description:
          type: string
          description: Network Status Description.
          example: "Approved"
        funds_availability:
          type: string
          description: 'An estimate of when the funds might be available. Actual Deposit Availability is determined by the financial institution. One of: IMMEDIATE, SAME_DAY, NEXT_CALENDAR_DAY, NEXT_BUSINESS_DAY, TWO_TO_FIVE_BUSINESS_DAYS, or UNKNOWN.'
          example: "IMMEDIATE"
        type:
          type: string
          description: 'Type of the transaction. One of: FUNDING, PAYMENT, FUNDING_REVERSAL, or PAYMENT_REVERSAL.'
          example: "PAYMENT"
        create_timestamp:
          type: string
          description: "Date and time the transaction was created, as an ISO 8601 timestamp in the format YYYY-MM-DDTHH:MM:SS±hh:mm. Refer to 'Date and Time Formats'."
          example: "2021-04-16T13:28:15-05:00"
        status:
          type: string
          description: Status of the transfer. One of APPROVED, DECLINED, UNKNOWN, ERROR, PENDING.
          example: "APPROVED"
        status_reason:
          type: string
          description: Reason for status. One of APPROVED, DECLINED, UNKNOWN, ERROR, PENDING, FRAUD, CARD_EXPIRED, LIMIT_EXCEEDED.
          example: "APPROVED"
        status_timestamp:
          type: string
          description: "Date and time the status was changed to its current value, as an ISO 8601 timestamp in the format YYYY-MM-DDTHH:MM:SS±hh:mm. Refer to 'Date and Time Formats'."
          example: "2021-04-16T13:28:15-05:00"
        retrieval_reference:
          type: string
          description: Unique reference number that identifies the transaction at the network. Details- maxlength 24
          example: "624200192616"
        system_trace_audit_number:
          type: string
          description: Unique system trace audit number for the transaction, the STAN (system trace audit number). Details- maxlength 6
          example: "926162"
        unique_reference_number:
          type: string
          description: 'Unique reference number for the transaction. Type: Alphanumeric [a-zA-Z 0-9], Maximum Length: 19'
          example: "592087939"
      xml:
        name: transaction
    DataGet:
      type: object
      description: "An array containing the Transactions in the transfer."
      properties:
        transaction:
          type: array
          description: transaction array
          items:
            $ref: '#/components/schemas/TransactionGet'
      xml:
        name: data
    TransactionHistoryGet:
      type: object
      description: A list of all Transactions in the transfer including reversals.
      properties:
        resource_type:
          type: string
          description: "The type of resource being returned: list."
          minLength: 4
          maxLength: 4
          example: "list"
        item_count:
          type: integer
          description: 'Number of Transactions in the list. Details- Numeric Example: 1'
          format: int64
          example: "1"
        data:
          $ref: '#/components/schemas/DataGet'
      xml:
        name: transaction_history
    P2p_CustomField:
      type: object
      description: Contains custom field names and values to appear in the reconciliation report. This can be a list of multiple name/value pairs in response. The names provided must match the configured in the partner setup.
      properties:
        name:
          type: string
          description: Name to be displayed in the reconciliation report. This value will appear as a header in the reconciliation reports. Name values to be defined during the onboarding process. Details- 1-40
          example: "TransactionID"
        value:
          type: string
          description: Value to be displayed in the reconciliation report. Details- 1-200
          example: "456FDWBS43"
      xml:
        name: custom_field
    P2p_ReconciliationData:
      type: object
      description: Reconciliation information in response that will be associated to the transfer and will appear in the reconciliation reporting for the partner.
      properties:
        custom_field:
          type: array
          description: Contains custom field names and values to appear in the reconciliation report. This can be a list of multiple name/value pairs in response. The names provided must match the configured in the partner setup.
          items:
            $ref: '#/components/schemas/P2p_CustomField'
      xml:
        name: reconciliation_data
    Transfer:
      type: object
      description: Transfer array
      properties:
        id:
          type: string
          description: "The system-generated Transfer ID for the payment transfer. Alphanumeric and * , - . _ ~."
          example: "trn_tN3S2cKGNt4hSmPwknYaiJd2BJrM"
        resource_type:
          type: string
          description: "The type of resource being returned: transfer."
          minLength: 8
          maxLength: 8
          example: "transfer"
        transfer_reference:
          type: string
          description: "The partner-assigned unique reference identifier for the payment transfer. Alphanumeric and * , - . _ ~. Length 6-40."
          minLength: 6
          maxLength: 40
          example: "DEF123456"
        payment_type:
          type: string
          description: "Payment type of the transfer:

            * A2A = General Transfer to Own Account

            * ACO = Agent Cash Out

            * C2C = Cash to Card

            * CBP = Payment of Own Credit Card Bill

            * P2P = General Person-to-Person Transfer"
          minLength: 3
          maxLength: 3
          example: "P2P"
        payment_origination_country:
          type: string
          description: 'Country where the payment originated from as an ISO 3166-1 alpha-3 country code, in uppercase. Details- Alpha, Length: 3'
          minLength: 3
          maxLength: 3
          example: "USA"
        sender_account_uri:
          type: string
          description: "URI describing the sending account. It will include masked account information (e.g. \"************9921\" for a card account) but will not include security codes (e.g. CVC or expiration date for a card account). See [Account URIs](https://developer.mastercard.com/mastercard-send-person-to-person/documentation/field-uris-codes/account-uris/)."
          example: "pan:************9921"
        sender:
          $ref: '#/components/schemas/P2p_Sender'
        funding_source:
          type: string
          description: 'Funding source must contain one of the following: CREDIT, DEBIT, PREPAID, DEPOSIT_ACCOUNT, MOBILE_MONEY_ACCOUNT, CASH or OTHER.'
          example: "DEBIT"
        transaction_purpose:
          description: "Purpose of the transaction. Valid values: '00' Family Support, '01' Regular Labor Transfers (expatriates), '02' Travel & Tourism, '03' Education, '04' Hospitalization & Medical Treatment, '05' Emergency Need, '06' Savings, '07' Gifts, '08' Other, '09' Salary, '10' Crowd lending, '11' Crypto currency, '12' Refund to original card, '13' Refund to new card. String, numeric, length 2."
          type: string
          minLength: 2
          maxLength: 2
          example: "00"
        recipient_account_uri:
          type: string
          description: "URI describing the receiving account. It will include masked account information (e.g. \"************9913\" for a card account) but will not include security codes (e.g. CVC or expiration date for a card account). See [Account URIs](https://developer.mastercard.com/mastercard-send-person-to-person/documentation/field-uris-codes/account-uris/)."
          example: "pan:************9913"
        recipient:
          $ref: '#/components/schemas/P2p_Recipient'
        sanction_screening_override:
          type: boolean
          description: "This field is not used at this time. The Sanctions Screening Service is suspended until further notice."
          example: "false"
        transfer_amount:
          $ref: '#/components/schemas/TransferAmount'
        created:
          type: string
          description: "Date and time the original transfer was created, as an ISO 8601 timestamp in the format YYYY-MM-DDTHH:MM:SS±hh:mm. Refer to 'Date and Time Formats'."
          example: "2021-04-16T13:28:15-05:00"
        transaction_history:
          $ref: '#/components/schemas/TransactionHistory'
        reconciliation_data:
          $ref: '#/components/schemas/P2p_ReconciliationData'
        statement_descriptor:
          type: string
          description: "The statement descriptor is the value that will be displayed on the recipient's bank or card statement. It consists of two parts: the prefix and the content. The prefix is a short string typically used to identify the partner. The appended <prefix>*<content> will be displayed on the recipient's statement. Note: While most financial institutions display this information consistently, some may display it incorrectly or not at all."
          example: "THANKYOU"
        channel:
          type: string
          description: 'Initiation channel of the transfer request. Values: WEB, MOBILE, BANK, KIOSK.'
          example: "WEB"
        device_id:
          type: string
          description: The serial number of a device that initiated the transfer.
          example: "DEV123456"
        location:
          type: string
          description: Location where the transaction is initiated.
          example: "state:MO"
        original_status:
          type: string
          description: Original status of the transfer. One of APPROVED, DECLINED, UNKNOWN, ERROR, PENDING, CANCELLED. PENDING and CANCELLED are possible for non-card transactions (not applicable to card).
          example: "APPROVED"
        status:
          type: string
          description: Status of the transfer. One of APPROVED, UNKNOWN, PENDING, CANCELLED. PENDING and CANCELLED are possible for non-card transactions (not applicable to card). PENDING indicates the transaction is still in progress.
          example: "APPROVED"
        status_timestamp:
          type: string
          description: "Date and time the status was changed to its current value, as an ISO 8601 timestamp in the format YYYY-MM-DDTHH:MM:SS±hh:mm. Refer to 'Date and Time Formats'."
          example: "2021-04-16T13:28:15-05:00"
        participant:
          $ref: '#/components/schemas/Response_Participant'
        transfer_priority:
          type: string
          description: 'Type of payment instruction to send. Applicable for non-card only. Values: SIP - Standard immediate payment (default), FDP - Future dated payment'
          example: "SIP"
        faster_payments_id:
          type: string
          description: Unique identifier of the payment within the scheme. 42 character string, in which the last five characters are almost always spaces. Applicable for non-card only.
          example: "YE78126Q54WK2J06M33020170720826608371"
        payment_uid:
          type: string
          description: Unique identifier of the payment the notification relates to. Applicable for non-card only.
          example: "32e2f3f9-dee4-4d10-a470-3dfa01dbf118"
        canada_domestic_indicator:
          type: boolean
          description: "If a Canadian OI, TI or Reseller has elected to include Debit Mastercard in scope, the value should be true. Mastercard will decline a transaction if the value is not passed as true and it is a Canada DMC (Network Response: '81' Domestic Debit Transaction Not Allowed)."
          example: "true"
      xml:
        name: transfer
    TransferGet:
      type: object
      description: Transfer array
      properties:
        id:
          type: string
          description: "The system-generated Transfer ID for the payment transfer. Alphanumeric and * , - . _ ~."
          example: "trn_tN3S2cKGNt4hSmPwknYaiJd2BJrM"
        resource_type:
          type: string
          description: "The type of resource being returned: transfer."
          minLength: 8
          maxLength: 8
          example: "transfer"
        transfer_reference:
          type: string
          description: "The partner-assigned unique reference identifier for the payment transfer. Alphanumeric and * , - . _ ~. Length 6-40."
          minLength: 6
          maxLength: 40
          example: "DEF123456"
        payment_type:
          type: string
          description: "Payment type of the transfer:

            * A2A = General Transfer to Own Account

            * ACO = Agent Cash Out

            * C2C = Cash to Card

            * CBP = Payment of Own Credit Card Bill

            * P2P = General Person-to-Person Transfer"
          minLength: 3
          maxLength: 3
          example: "P2P"
        payment_origination_country:
          type: string
          description: 'Country where the payment originated from as an ISO 3166-1 alpha-3 country code, in uppercase. Details- Alpha, Length: 3'
          minLength: 3
          maxLength: 3
          example: "USA"
        sender_account_uri:
          type: string
          description: "URI describing the sending account. It will include masked account information (e.g. \"************9921\" for a card account) but will not include security codes (e.g. CVC or expiration date for a card account). See [Account URIs](https://developer.mastercard.com/mastercard-send-person-to-person/documentation/field-uris-codes/account-uris/)."
          example: "pan:************9921"
        sender:
          $ref: '#/components/schemas/P2p_Sender'
        funding_source:
          type: string
          description: 'Funding source must contain one of the following: CREDIT, DEBIT, PREPAID, DEPOSIT_ACCOUNT, MOBILE_MONEY_ACCOUNT, CASH or OTHER.'
          example: "DEBIT"
        transaction_purpose:
          description: "Purpose of the transaction. Valid values: '00' Family Support, '01' Regular Labor Transfers (expatriates), '02' Travel & Tourism, '03' Education, '04' Hospitalization & Medical Treatment, '05' Emergency Need, '06' Savings, '07' Gifts, '08' Other, '09' Salary, '10' Crowd lending, '11' Crypto currency, '12' Refund to original card, '13' Refund to new card. String, numeric, length 2."
          type: string
          minLength: 2
          maxLength: 2
          example: "00"
        recipient_account_uri:
          type: string
          description: "URI describing the receiving account. It will include masked account information (e.g. \"************9913\" for a card account) but will not include security codes (e.g. CVC or expiration date for a card account). See [Account URIs](https://developer.mastercard.com/mastercard-send-person-to-person/documentation/field-uris-codes/account-uris/)."
          example: "pan:************9913"
        recipient:
          $ref: '#/components/schemas/P2p_Recipient'
        sanction_screening_override:
          type: boolean
          description: "This field is not used at this time. The Sanctions Screening Service is suspended until further notice."
          example: "false"
        transfer_amount:
          $ref: '#/components/schemas/TransferAmount'
        created:
          type: string
          description: "Date and time the original transfer was created, as an ISO 8601 timestamp in the format YYYY-MM-DDTHH:MM:SS±hh:mm. Refer to 'Date and Time Formats'."
          example: "2021-04-16T13:28:15-05:00"
        transaction_history:
          $ref: '#/components/schemas/TransactionHistoryGet'
        reconciliation_data:
          $ref: '#/components/schemas/P2p_ReconciliationData'
        statement_descriptor:
          type: string
          description: "The statement descriptor is the value that will be displayed on the recipient's bank or card statement. It consists of two parts: the prefix and the content. The prefix is a short string typically used to identify the partner. The appended <prefix>*<content> will be displayed on the recipient's statement. Note: While most financial institutions display this information consistently, some may display it incorrectly or not at all."
          example: "THANKYOU"
        channel:
          type: string
          description: 'Initiation channel of the transfer request. Values: WEB, MOBILE, BANK, KIOSK.'
          example: "WEB"
        device_id:
          type: string
          description: The serial number of a device that initiated the transfer.
          example: "DEV123456"
        location:
          type: string
          description: Location where the transaction is initiated.
          example: "state:MO"
        original_status:
          type: string
          description: Original status of the transfer. One of APPROVED, DECLINED, UNKNOWN, ERROR, PENDING, CANCELLED. CANCELLED is possible for non-card transactions (not applicable to card).
          example: "APPROVED"
        status:
          type: string
          description: Status of the transfer. One of APPROVED, DECLINED, UNKNOWN, ERROR, PENDING, REVERSED, CANCELLED. PENDING indicates the transaction is still in progress. If you get PENDING for a card transaction, retry with another GET request. CANCELLED is possible for non-card transactions (not applicable to card).
          example: "APPROVED"
        status_timestamp:
          type: string
          description: "Date and time the status was changed to its current value, as an ISO 8601 timestamp in the format YYYY-MM-DDTHH:MM:SS±hh:mm. Refer to 'Date and Time Formats'."
          example: "2021-04-16T13:28:15-05:00"
        participant:
          $ref: '#/components/schemas/Response_Participant'
        transfer_priority:
          type: string
          description: 'Type of payment instruction to send. Applicable for non-card only. Values: SIP - Standard immediate payment (default), FDP - Future dated payment'
          example: "SIP"
        faster_payments_id:
          type: string
          description: Unique identifier of the payment within the scheme. 42 character string, in which the last five characters are almost always spaces. Applicable for non-card only.
          example: "YE78126Q54WK2J06M33020170720826608371"
        payment_uid:
          type: string
          description: Unique identifier of the payment the notification relates to. Applicable for non-card only.
          example: "32e2f3f9-dee4-4d10-a470-3dfa01dbf118"
        canada_domestic_indicator:
          type: boolean
          description: "If a Canadian OI, TI or Reseller has elected to include Debit Mastercard in scope, the value should be true. Mastercard will decline a transaction if the value is not passed as true and it is a Canada DMC (Network Response: '81' Domestic Debit Transaction Not Allowed)."
          example: "true"
      xml:
        name: transfer
    P2p_Data:
      type: object
      description: An array containing the transfer response in the transfer
      properties:
        transfer:
          type: array
          description: Transfer array
          items:
            $ref: '#/components/schemas/TransferGet'
      xml:
        name: data
    Transfers:
      type: object
      description: Response details
      properties:
        resource_type:
          type: string
          description: "The type of resource being returned: list."
          minLength: 4
          maxLength: 4
          example: "list"
        item_count:
          type: integer
          description: Number of Transactions in the list
          format: int64
          example: "1"
        data:
          $ref: '#/components/schemas/P2p_Data'
      xml:
        name: transfers
    PaymentTransferWrapper:
      type: object
      description: Contains the details of the request message.
      properties:
        payment_transfer:
          $ref: '#/components/schemas/PaymentTransfer'
    TransferWrapper:
      type: object
      description: Response details
      properties:
        transfer:
          $ref: '#/components/schemas/Transfer'
    TransferWrapperGet:
      type: object
      description: Response details
      properties:
        transfer:
          $ref: '#/components/schemas/TransferGet'
    TransfersWrapper:
      type: object
      description: Response details
      properties:
        transfers:
          $ref: '#/components/schemas/Transfers'