openapi: 3.0.1
info:
  contact:
    email: apisupport@mastercard.com
    name: API Support
    url: https://developer.mastercard.com/support
  description: Mastercard Send Payment Transfer API
  title: Send Payment Transfer API
  version: 1.0.1
servers:
- description: MTF URL
  url: https://sandbox.api.mastercard.com/send
- description: Production URL
  url: https://api.mastercard.com/send
tags:
- description: Create a payment transfer (Payment Transaction) to send funds to a
    recipient (POST request) and retrieve transfer details including latest status
    (GET request)
  name: Payment Transfer
paths:
  /v1/partners/{partnerId}/transfers/payment:
    post:
      description: "Each payment transfer has a unique `transfer_reference` ID, which\
        \ you must provide in the request, and it will be assigned a unique system-generated\
        \ ID (`id`), which is returned in the response. This API service supports\
        \ the optional extra Idempotency feature. If you have that feature enabled\
        \ (contact your Mastercard representative), you can make the same payment\
        \ transfer request multiple times without worrying about the transaction being\
        \ processed multiple times; see the Mastercard Send Person-to-Person documentation."
      operationId: createPayment
      parameters:
      - description: "The Mastercard-assigned unique ID for the partner registered\
          \ to use Mastercard Send. String, length 32."
        example: ptnr_BEeCrYJHh2BXTXPy_PEtp-8DBOo
        explode: false
        in: path
        name: partnerId
        required: true
        schema:
          maxLength: 32
          minLength: 32
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentTransferWrapper'
        description: Contains the details of the request message.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferWrapper'
          description: Response details
      summary: Create a payment transfer (Payment Transaction) to send funds to a
        recipient
      tags:
      - Payment Transfer
  /v1/partners/{partnerId}/transfers/{transferId}:
    get:
      description: |-
        Example uses for this API call:

         - Get the network decline code and description when a transaction is declined

         - Get the latest status when a transaction response was 'UNKNOWN'

         - Transaction history and research purposes
      operationId: getTransferById
      parameters:
      - description: "The Mastercard-assigned unique ID for the partner registered\
          \ to use Mastercard Send. String, length 32."
        example: ptnr_BEeCrYJHh2BXTXPy_PEtp-8DBOo
        explode: false
        in: path
        name: partnerId
        required: true
        schema:
          maxLength: 32
          minLength: 32
          type: string
        style: simple
      - description: "Required. The system-generated Transfer ID (`id`) that was returned\
          \ when you created the payment transfer. Alphanumeric and * , - . _ ~."
        example: trn_tN3S2cKGNt4hSmPwknYaiJd2BJrM
        explode: false
        in: path
        name: transferId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferWrapperGet'
          description: Response details
      summary: "Retrieve details of a payment transfer, including latest status, by\
        \ using the transfer ID that was returned when you created the transfer"
      tags:
      - Payment Transfer
  /v1/partners/{partnerId}/transfers:
    get:
      description: |-
        Example uses for this API call:

         - Get the network decline code and description when a transaction is declined

         - Get the latest status when a transaction response was 'UNKNOWN'

         - Transaction history and research purposes
      operationId: getTransferByRef
      parameters:
      - description: "The Mastercard-assigned unique ID for the partner registered\
          \ to use Mastercard Send. String, length 32."
        example: ptnr_BEeCrYJHh2BXTXPy_PEtp-8DBOo
        explode: false
        in: path
        name: partnerId
        required: true
        schema:
          maxLength: 32
          minLength: 32
          type: string
        style: simple
      - description: "Query parameter - Required. The unique `transfer_reference`\
          \ that you provided when creating the payment transfer. Alphanumeric and\
          \ * , - . _ ~. Length 6-40."
        example: DEF123456
        explode: true
        in: query
        name: ref
        required: true
        schema:
          maxLength: 40
          minLength: 6
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransfersWrapper'
          description: Response details
      summary: "Retrieve details of a payment transfer, including latest status, by\
        \ using the transfer_reference value you provided when you created the transfer"
      tags:
      - Payment Transfer
components:
  schemas:
    Request_Sender_Address:
      description: "Address of the sender. Required. If you provide this object, you\
        \ must provide `line1`, `city`, `postal_code` and `country`."
      example:
        country: USA
        city: Chicago
        postal_code: "60618"
        line2: Apartment 9
        line1: 123 Elm St
        country_subdivision: IL
      properties:
        line1:
          description: "Required. First line of the sender's address. Alphanumeric\
            \ Special [a-zA-Z0-9 !\"#$%&'()*+,-./&#92;:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍ\
            ÎÏÑÒÓÔÕÖÙÚÛÜÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], length: 1-50. If you cannot\
            \ provide the actual value, you must provide the alternative value '#NOTINCLUDED'."
          example: 123 Elm St
          maxLength: 50
          minLength: 1
          type: string
        line2:
          description: "Second line of the sender's address. Alphanumeric Special\
            \ [a-zA-Z0-9 !\"#$%&'()*+,-./&#92;:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖ\
            ÙÚÛÜÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], length: 1-50."
          example: Apartment 9
          maxLength: 50
          minLength: 1
          type: string
        city:
          description: "Required. The sender's city. Alphanumeric Special [a-zA-Z0-9\
            \ !\"#$%&'()*+,-./&#92;:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÛÜÝàáâãäå\
            çèéêëìíîïñòóôõöùúûüýÿ], length: 1-25. If you cannot provide the actual\
            \ value, you must provide the alternative value '#NOTINCLUDED'."
          example: Chicago
          maxLength: 25
          minLength: 1
          type: string
        country_subdivision:
          description: "The sender's province, state or territory. Conditional, required\
            \ if sender's `country` is USA or CAN. Must be an ISO 3166-2 uppercase\
            \ alpha 2 or 3 character country subdivision code. For example, Missouri\
            \ is MO."
          example: IL
          maxLength: 3
          minLength: 2
          type: string
        postal_code:
          description: "Required. The sender's postal code. For USA, this must be\
            \ a valid value of 5 digits or 5 digits hyphen 4 digits, for example '63368',\
            \ '63368-5555'. For other regions, this can be alphanumeric, length 1-10."
          example: "60618"
          maxLength: 10
          minLength: 1
          type: string
        country:
          description: "Required. The sender's country as an ISO 3166-1 uppercase\
            \ alpha-3 country code; see [Country and Currency Codes](https://developer.mastercard.com/mastercard-send-person-to-person/documentation/field-uris-codes/country-currency-codes/).\
            \ For example, the United States of America is USA."
          example: USA
          maxLength: 3
          minLength: 3
          type: string
      required:
      - city
      - country
      - line1
      - postal_code
      type: object
      xml:
        name: address
    GovernmentIds:
      description: List of Government IDs.
      example:
        government_id_uri:
        - ppn:123456789;expiration-date=2050-05-27;issue-date=2011-07-12;issuing-country=USA;issuing-place=OFallon
        - ppn:123456789;expiration-date=2050-05-27;issue-date=2011-07-12;issuing-country=USA;issuing-place=OFallon
      properties:
        government_id_uri:
          description: URI describing the government ID. See 'Government ID URIs'.
          items:
            example: ppn:123456789;expiration-date=2050-05-27;issue-date=2011-07-12;issuing-country=USA;issuing-place=OFallon
            type: string
          type: array
      type: object
      xml:
        name: government_ids
    GovernmentIdsResponse:
      description: List of Government IDs.
      example:
        government_id_uri:
        - ppn:*****6789;expiration-date=2050-05-27;issue-date=2011-07-12;issuing-country=USA;issuing-place=OFallon
        - ppn:*****6789;expiration-date=2050-05-27;issue-date=2011-07-12;issuing-country=USA;issuing-place=OFallon
      properties:
        government_id_uri:
          description: URI describing the government ID. See 'Government ID URIs'.
          items:
            example: ppn:*****6789;expiration-date=2050-05-27;issue-date=2011-07-12;issuing-country=USA;issuing-place=OFallon
            type: string
          type: array
      type: object
      xml:
        name: government_ids
    Sender:
      description: "Information about the sender of the transaction. Conditional.\
        \ If a 'pan' or 'raw' scheme is provided in the `sender_account_uri`, this\
        \ `sender` object is required. If you provide this object, you must provide\
        \ `first_name`, `last_name`, and the `address` object."
      example:
        account_type: "03"
        address:
          country: USA
          city: Chicago
          postal_code: "60618"
          line2: Apartment 9
          line1: 123 Elm St
          country_subdivision: IL
        nationality: USA
        government_ids:
          government_id_uri:
          - ppn:123456789;expiration-date=2050-05-27;issue-date=2011-07-12;issuing-country=USA;issuing-place=OFallon
          - ppn:123456789;expiration-date=2050-05-27;issue-date=2011-07-12;issuing-country=USA;issuing-place=OFallon
        phone: "11234567890"
        date_of_birth: 1999-12-30
        last_name: Jones
        middle_name: Tyler
        first_name: John
        email: test123@abcmail.com
      properties:
        first_name:
          description: "Required. The sender's first name. Alphanumeric Special [a-zA-Z0-9\
            \ !\"#$%&'()*+,-./&#92;:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÛÜÝàáâãäå\
            çèéêëìíîïñòóôõöùúûüýÿ], length 1-40. If you cannot provide the actual\
            \ value, you must provide the alternative value '#NOTINCLUDED'."
          example: John
          maxLength: 40
          minLength: 1
          type: string
        middle_name:
          description: "The sender's middle name. Alphanumeric Special [a-zA-Z0-9\
            \ !\"#$%&'()*+,-./&#92;:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÛÜÝàáâãäå\
            çèéêëìíîïñòóôõöùúûüýÿ], length 1-40."
          example: Tyler
          maxLength: 40
          minLength: 1
          type: string
        last_name:
          description: "Required. The sender's last name. Alphanumeric Special [a-zA-Z0-9\
            \ !\"#$%&'()*+,-./&#92;:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÛÜÝàáâãäå\
            çèéêëìíîïñòóôõöùúûüýÿ], length 1-40. If you cannot provide the actual\
            \ value, you must provide the alternative value '#NOTINCLUDED'."
          example: Jones
          maxLength: 40
          minLength: 1
          type: string
        nationality:
          description: "The sender's nationality as an ISO 3166-1 uppercase alpha-3\
            \ country code; see [Country and Currency Codes](https://developer.mastercard.com/mastercard-send-person-to-person/documentation/field-uris-codes/country-currency-codes/).\
            \ For example, the United States of America is USA."
          example: USA
          maxLength: 3
          minLength: 3
          type: string
        date_of_birth:
          description: "The sender's date of birth in ISO 8601 full date format (YYYY-MM-DD).\
            \ For example, 30 December 1999 is the value '1999-12-30'. Numeric and\
            \ -, length 10."
          example: 1999-12-30
          maxLength: 10
          minLength: 10
          type: string
        account_type:
          description: "Identifies the sender's account number type. This field is\
            \ optional. Valid values: '00' Other, '01' RTN + Bank Account, '02' IBAN,\
            \ '03' Card Account, '04' Email, '05' Phone Number, '06' Bank account\
            \ number (BAN) + Bank Identification Сode (BIC), '07' Wallet ID, '08'\
            \ Social Network ID. Numeric, 2 characters."
          example: "03"
          maxLength: 2
          minLength: 2
          type: string
        address:
          $ref: '#/components/schemas/Request_Sender_Address'
        phone:
          description: "The sender's phone number including country code. Numeric,\
            \ length 1-15."
          example: "11234567890"
          maxLength: 15
          minLength: 1
          type: string
        email:
          description: "The sender's email address. Alphanumeric Special [a-zA-Z0-9-@+.*$_],\
            \ length 5-254."
          example: test123@abcmail.com
          maxLength: 254
          minLength: 5
          type: string
        government_ids:
          $ref: '#/components/schemas/GovernmentIds'
      required:
      - address
      - first_name
      - last_name
      type: object
      xml:
        name: sender
    TokenCryptogram:
      description: "Contains the Token Cryptogram fields that relate to a Recipient\
        \ token. If you provide a tokenized PAN (token) for the Recipient Account\
        \ URI, you may optionally provide the associated cryptogram information using\
        \ these fields."
      example:
        pan_sequence_number: "011"
        type: CONTACTLESS_CHIP
        value: jjoutwsdgfdou124354ljlsdhgout968957
      properties:
        type:
          description: "May be provided when the Recipient Account URI is a tokenized\
            \ PAN, refer to 'Token Cryptogram' in the documentation. Alphanumeric\
            \ special, length 22. Valid values: CONTACTLESS_CHIP, CONTACTLESS_MAGSTRIPE,\
            \ DSRP_UCAF, CONTACT_CHIP, DSRP_DPD, DSRP_CHIP.\n- CONTACTLESS_CHIP: The\
            \ cryptogram in token_cryptogram.value is the result of a contactless\
            \ tap and chip information is read by the terminal.\n- CONTACTLESS_MAGSTRIPE:\
            \ The cryptogram in token_cryptogram.value is the result of a contactless\
            \ tap and the magstripe information is read by the terminal and the full\
            \ track data is included without alteration or truncation.\n- DSRP_UCAF:\
            \ The cryptogram in token_cryptogram.value is the result of an in-app\
            \ purchase and the chip information is included as a Universal Cardholder\
            \ Authentication Field (UCAF) value.\n- CONTACT_CHIP: The cryptogram in\
            \ token_cryptogram.value is the result of PAN auto-entry via chip.\n-\
            \ DSRP_DPD: The cryptogram in token_cryptogram.value is used to transport\
            \ the digital payment data for electronic commerce (ecommerce) transactions.\n\
            - DSRP_CHIP: The cryptogram in token_cryptogram.value is the result of\
            \ PAN/token entry via ecommerce containing a Digital Secure Remote Payments\
            \ (DSRP) cryptogram."
          example: CONTACTLESS_CHIP
          type: string
        value:
          description: "Contains formatted chip/cryptogram data relating to the token\
            \ cryptogram. Format and length depends on the cryptogram type (token_cryptogram.type):\n\
            - CONTACTLESS_CHIP: Hexadecimal [A-F0-9], length 2-510\n- CONTACTLESS_MAGSTRIPE:\
            \ Hexadecimal [A-F0-9], length 2-510\n- DSRP_UCAF: Base64 [A-Za-z0-9+/=?:],\
            \ length 1-510\n- CONTACT_CHIP: Hexadecimal [A-F0-9], length 2-510\n-\
            \ DSRP_DPD: Base64 [A-Za-z0-9+/=?:], length 1-510\n- DSRP_CHIP: Hexadecimal\
            \ [A-F0-9], length 2-510"
          example: jjoutwsdgfdou124354ljlsdhgout968957
          type: string
        pan_sequence_number:
          description: "The PAN Sequence Number identifies and differentiates cards\
            \ with the same PAN. Processors with chip-reading capability may pass\
            \ this information for Contactless Chip and Contactless Magstripe transactions.\
            \ This field may be present when token_cryptogram.type contains CONTACTLESS_CHIP,\
            \ CONTACTLESS_MAGSTRIPE, CONTACT_CHIP, DSRP_DPD, or DSRP_CHIP. Numeric\
            \ [0-9], length 3."
          example: "011"
          type: string
      required:
      - type
      - value
      type: object
      xml:
        name: token_cryptogram
    Authentication:
      description: Customer would have to pass either Authentication code or Authentication
        value if they pass the Authentication object.
      example:
        authentication_code: AUTHENTICATED_CAVV
        authentication_value: ucaf:jJJLtQa+Iws8AREAEbjsA1MAAAA
      properties:
        authentication_value:
          description: List of name/value pairs containing authentication values.
            Refer 'Authentication Value URIs'
          example: ucaf:jJJLtQa+Iws8AREAEbjsA1MAAAA
          type: string
        authentication_code:
          description: "Authentication Code indicates the authentication mechanism.\
            \ This can contain one of the following values - AUTHENTICATED_CAVV, NON_AUTHENTICATED_3D_SECURE,\
            \ NON_AUTHENTICATED and NON_SECURE."
          example: AUTHENTICATED_CAVV
          type: string
      type: object
      xml:
        name: authentication
    Request_Recipient_Address:
      description: "Address of the recipient. Conditional, required when it is a Visa\
        \ OCT payment and Recipient Account URI institution country is CAN."
      example:
        country: USA
        city: St. Louis
        postal_code: "63103"
        line2: Apartment 9
        line1: 435 Tucker St
        country_subdivision: MO
      properties:
        line1:
          description: "First line of the recipient's address. Alphanumeric Special\
            \ [a-zA-Z0-9 !\"#$%&'()*+,-./&#92;:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖ\
            ÙÚÛÜÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], length: 1-50."
          example: 435 Tucker St
          maxLength: 50
          minLength: 1
          type: string
        line2:
          description: "Second line of the recipient's address. Alphanumeric Special\
            \ [a-zA-Z0-9 !\"#$%&'()*+,-./&#92;:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖ\
            ÙÚÛÜÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], length: 1-50."
          example: Apartment 9
          maxLength: 50
          minLength: 1
          type: string
        city:
          description: "The recipient's city. Alphanumeric Special [a-zA-Z0-9 !\"\
            #$%&'()*+,-./&#92;:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÛÜÝàáâãäåçèéêë\
            ìíîïñòóôõöùúûüýÿ], length: 1-25."
          example: St. Louis
          maxLength: 25
          minLength: 1
          type: string
        country_subdivision:
          description: "The recipient's province, state or territory. Conditional,\
            \ required if recipient's `country` is USA or CAN. Must be an ISO 3166-2\
            \ uppercase alpha 2 or 3 character country subdivision code. For example,\
            \ Missouri is MO."
          example: MO
          maxLength: 3
          minLength: 2
          type: string
        postal_code:
          description: "The recipient's postal code. Conditional, required when it\
            \ is a Visa OCT payment and Recipient Account URI institution country\
            \ is CAN. For USA, this must be a valid value of 5 digits or 5 digits\
            \ hyphen 4 digits, for example '63368', '63368-5555'. For other regions,\
            \ this can be alphanumeric, length 1-10."
          example: "63103"
          maxLength: 10
          minLength: 1
          type: string
        country:
          description: "The recipient's country as an ISO 3166-1 uppercase alpha-3\
            \ country code; see [Country and Currency Codes](https://developer.mastercard.com/mastercard-send-person-to-person/documentation/field-uris-codes/country-currency-codes/).\
            \ For example, the United States of America is USA."
          example: USA
          maxLength: 3
          minLength: 3
          type: string
      type: object
      xml:
        name: address
    Recipient:
      description: "Information about the recipient of the transaction. Conditional.\
        \ If a 'pan' scheme is provided in the `recipient_account_uri`, this `recipient`\
        \ object is required. If you provide this object, you must provide `first_name`\
        \ and `last_name`."
      example:
        account_type: "03"
        address:
          country: USA
          city: St. Louis
          postal_code: "63103"
          line2: Apartment 9
          line1: 435 Tucker St
          country_subdivision: MO
        name_on_account: Jane Smith
        nationality: USA
        government_ids:
          government_id_uri:
          - ppn:123456789;expiration-date=2050-05-27;issue-date=2011-07-12;issuing-country=USA;issuing-place=OFallon
          - ppn:123456789;expiration-date=2050-05-27;issue-date=2011-07-12;issuing-country=USA;issuing-place=OFallon
        phone: "11234567890"
        date_of_birth: 1999-12-30
        last_name: Jones
        middle_name: Tyler
        first_name: John
        email: test123@abcmail.com
      properties:
        first_name:
          description: "Required. The recipient's first name. Alphanumeric Special\
            \ [a-zA-Z0-9 !\"#$%&'()*+,-./&#92;:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖ\
            ÙÚÛÜÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], length 1-40. If you cannot provide\
            \ the actual value, you must provide the alternative value '#NOTINCLUDED'."
          example: John
          maxLength: 40
          minLength: 1
          type: string
        middle_name:
          description: "The recipient's middle name. Alphanumeric Special [a-zA-Z0-9\
            \ !\"#$%&'()*+,-./&#92;:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÛÜÝàáâãäå\
            çèéêëìíîïñòóôõöùúûüýÿ], length 1-40."
          example: Tyler
          maxLength: 40
          minLength: 1
          type: string
        last_name:
          description: "Required. The recipient's last name. Alphanumeric Special\
            \ [a-zA-Z0-9 !\"#$%&'()*+,-./&#92;:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖ\
            ÙÚÛÜÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], length 1-40. If you cannot provide\
            \ the actual value, you must provide the alternative value '#NOTINCLUDED'."
          example: Jones
          maxLength: 40
          minLength: 1
          type: string
        nationality:
          description: "The recipient's nationality as an ISO 3166-1 uppercase alpha-3\
            \ country code; see [Country and Currency Codes](https://developer.mastercard.com/mastercard-send-person-to-person/documentation/field-uris-codes/country-currency-codes/).\
            \ For example, the United States of America is USA."
          example: USA
          maxLength: 3
          minLength: 3
          type: string
        date_of_birth:
          description: "The recipient's date of birth in ISO 8601 full date format\
            \ (YYYY-MM-DD). For example, 30 December 1999 is the value '1999-12-30'.\
            \ Numeric and -, length 10."
          example: 1999-12-30
          maxLength: 10
          minLength: 10
          type: string
        account_type:
          description: "Identifies the recipient's account number type. This field\
            \ is optional. Valid values: '00' Other, '01' RTN + Bank Account, '02'\
            \ IBAN, '03' Card Account, '04' Email, '05' Phone Number, '06' Bank account\
            \ number (BAN) + Bank Identification Сode (BIC), '07' Wallet ID, '08'\
            \ Social Network ID. Numeric, 2 characters."
          example: "03"
          maxLength: 2
          minLength: 2
          type: string
        address:
          $ref: '#/components/schemas/Request_Recipient_Address'
        phone:
          description: "The recipient's phone number including country code. Numeric,\
            \ length 1-15."
          example: "11234567890"
          maxLength: 15
          minLength: 1
          type: string
        email:
          description: "The recipient's email address. Alphanumeric Special [a-zA-Z0-9-@+.*$_],\
            \ length 5-254."
          example: test123@abcmail.com
          maxLength: 254
          minLength: 5
          type: string
        government_ids:
          $ref: '#/components/schemas/GovernmentIds'
        name_on_account:
          description: "Name on the account. Applicable for non-card only. Allowable\
            \ characters are alphanumeric and - / ? : ( ) . + # = ! % & * < > ; {\
            \ @ ' \" characters. Details- Conditional, Required for non-card only,\
            \ 1-40"
          example: Jane Smith
          type: string
      required:
      - first_name
      - last_name
      type: object
      xml:
        name: recipient
    CustomField:
      description: Contains custom field names and values to appear in the reconciliation
        report. This can be a list of multiple name/value pairs in request. The names
        provided must match the configured in the partner setup.
      example:
        name: TransactionID
        value: 456FDWBS43
      properties:
        name:
          description: Name to be displayed in the reconciliation report. This value
            will appear as a header in the reconciliation reports. Name values to
            be defined during the onboarding process. Details- 1-40
          example: TransactionID
          type: string
        value:
          description: Value to be displayed in the reconciliation report. Details-
            1-40
          example: 456FDWBS43
          type: string
      required:
      - name
      - value
      type: object
      xml:
        name: custom_field
    ReconciliationData:
      description: Reconciliation information in request that will be associated to
        the transfer and will appear in the reconciliation reporting for the partner.
      example:
        custom_field:
        - name: TransactionID
          value: 456FDWBS43
        - name: TransactionID
          value: 456FDWBS43
      properties:
        custom_field:
          description: Contains custom field names and values to appear in the reconciliation
            report. This can be a list of multiple name/value pairs in request. The
            names provided must match the configured in the partner setup.
          items:
            $ref: '#/components/schemas/CustomField'
          type: array
      type: object
      xml:
        name: reconciliation_data
    FundingTransactionReference:
      description: For future use. This section describes information is used by the
        Mastercard and Visa networks to link a funding and payment transaction when
        both card accounts are Visa accounts or both accounts are Mastercard accounts.
      example:
        reference_number: trn_8h4me233jk23l6c5lw5f
        network: MASTERCARD
      properties:
        network:
          description: For future use. Network on which funding transaction is processed.
            Valid values will be provided during partner onboarding.
          example: MASTERCARD
          type: string
        reference_number:
          description: For future use. Provide the ID from the funding transfer resource.
            Details- 6-40
          example: trn_8h4me233jk23l6c5lw5f
          type: string
      required:
      - network
      - reference_number
      type: object
      xml:
        name: funding_transaction_reference
    Request_Participant:
      description: Information about a participant that may be passed along to the
        network.
      example:
        transfer_acceptor_address:
          country: USA
          city: Chicago
          postal_code: "60618"
          line2: Apartment 9
          line1: 123 Elm St
          country_subdivision: IL
        card_acceptor_id: CardAcceptor123
        merchant_category_code: "6536"
        interchange_rate_designator: A3
        customer_service_contact_info: "8005551234"
      properties:
        merchant_category_code:
          description: "Classification of the merchant's type of business or service.\_\
            Please contact your Mastercard representative to enable the usage of fields\
            \ in this section. Details- numeric, 4."
          example: "6536"
          type: string
        interchange_rate_designator:
          description: "The IRD used for clearing the transaction on the Mastercard\
            \ network. Details - Alphanumeric, length 2 characters."
          example: A3
          type: string
        card_acceptor_id:
          description: "Code identifying the card acceptor.\_Please contact your Mastercard\
            \ representative to enable the usage of fields in this section.\_Details-\
            \ alphanumeric, 10-15."
          example: CardAcceptor123
          type: string
        customer_service_contact_info:
          description: "Customer service phone number that may be displayed on the\
            \ recipient's bank or card statement. For U.S. or Canada regions, this\
            \ must be a 10-digit phone number (e.g. 8005551234). For other regions,\
            \ any length up to 13 digits is permitted. The phone number must be numeric\
            \ without special characters such as spaces, - or ( ). To enable usage\
            \ of this field, please contact your Mastercard representative. Details\
            \ - numeric, 1-13."
          example: "8005551234"
          type: string
        transfer_acceptor_address:
          $ref: '#/components/schemas/Request_Transfer_Acceptor_Address'
      type: object
      xml:
        name: participant
    Response_Participant:
      description: Information about a participant that may be passed along to the
        network. 
      example:
        transfer_acceptor_address:
          country: USA
          city: OFallon
          postal_code: "63368"
          line2: Apartment 9
          line1: 1 Main St
          country_subdivision: MO
        card_acceptor_id: CardAcceptor123
        merchant_category_code: "6536"
        interchange_rate_designator: A3
        customer_service_contact_info: "8005551234"
      properties:
        merchant_category_code:
          description: "Classification of the merchant's type of business or service.\_\
            The value in the response is the code passed to the network and it may\
            \ be different from the value provided in the request. Details- numeric,\
            \ 4."
          example: "6536"
          type: string
        interchange_rate_designator:
          description: "The IRD used for clearing the transaction on the Mastercard\
            \ network. Details - Alphanumeric, length 2 characters."
          example: A3
          type: string
        card_acceptor_id:
          description: "Code identifying the card acceptor.\_Please contact your Mastercard\
            \ representative to enable the usage of fields in this section.\_Details-\
            \ alphanumeric, 10-15."
          example: CardAcceptor123
          type: string
        customer_service_contact_info:
          description: "Customer service phone number that may be displayed on the\
            \ recipient's bank or card statement. For U.S. or Canada regions, this\
            \ must be a 10-digit phone number (e.g. 8005551234). For other regions,\
            \ any length up to 13 digits is permitted. The phone number must be numeric\
            \ without special characters such as spaces, - or ( ). To enable usage\
            \ of this field, please contact your Mastercard representative. Details\
            \ - numeric, 1-13."
          example: "8005551234"
          type: string
        transfer_acceptor_address:
          $ref: '#/components/schemas/Response_Transfer_Acceptor_Address'
      type: object
      xml:
        name: participant
    Request_Transfer_Acceptor_Address:
      description: Address of the transfer acceptor in request.
      example:
        country: USA
        city: Chicago
        postal_code: "60618"
        line2: Apartment 9
        line1: 123 Elm St
        country_subdivision: IL
      properties:
        line1:
          description: "Required. First line of the transfer acceptor's address. Alphanumeric\
            \ Special [a-zA-Z0-9 !\"#$%&'()*+,-./&#92;:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍ\
            ÎÏÑÒÓÔÕÖÙÚÛÜÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], length: 1-50."
          example: 123 Elm St
          maxLength: 50
          minLength: 1
          type: string
        line2:
          description: "Second line of the transfer acceptor's address. Alphanumeric\
            \ Special [a-zA-Z0-9 !\"#$%&'()*+,-./&#92;:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍ\
            ÎÏÑÒÓÔÕÖÙÚÛÜÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], length: 1-50."
          example: Apartment 9
          maxLength: 50
          minLength: 1
          type: string
        city:
          description: "Required. The transfer acceptor's city. Alphanumeric Special\
            \ [a-zA-Z0-9 !\"#$%&'()*+,-./&#92;:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖ\
            ÙÚÛÜÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], length: 1-25."
          example: Chicago
          maxLength: 25
          minLength: 1
          type: string
        country_subdivision:
          description: "The transfer acceptor's province, state or territory. Conditional,\
            \ required if transfer acceptor's `country` is USA or CAN. Must be an\
            \ ISO 3166-2 uppercase alpha 2 or 3 character country subdivision code.\
            \ For example, Missouri is MO."
          example: IL
          maxLength: 3
          minLength: 2
          type: string
        postal_code:
          description: "The transfer acceptor's postal code. For USA, this must be\
            \ a valid value of 5 digits or 5 digits hyphen 4 digits, for example '63368',\
            \ '63368-5555'. For other regions, this can be alphanumeric, length 1-10."
          example: "60618"
          maxLength: 10
          minLength: 1
          type: string
        country:
          description: "Required. The transfer acceptor's country as an ISO 3166-1\
            \ uppercase alpha-3 country code; see [Country and Currency Codes](https://developer.mastercard.com/mastercard-send-person-to-person/documentation/field-uris-codes/country-currency-codes/).\
            \ For example, the United States of America is USA."
          example: USA
          maxLength: 3
          minLength: 3
          type: string
      required:
      - city
      - country
      - line1
      type: object
      xml:
        name: transfer_acceptor_address
    Response_Transfer_Acceptor_Address:
      description: Address of the transfer acceptor in response.
      example:
        country: USA
        city: OFallon
        postal_code: "63368"
        line2: Apartment 9
        line1: 1 Main St
        country_subdivision: MO
      properties:
        line1:
          description: "First line of the transfer acceptor's address. Alphanumeric\
            \ Special [a-zA-Z0-9 !\"#$%&'()*+,-./&#92;:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍ\
            ÎÏÑÒÓÔÕÖÙÚÛÜÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], length: 1-50."
          example: 1 Main St
          maxLength: 50
          minLength: 1
          type: string
        line2:
          description: "Second line of the transfer acceptor's address. Alphanumeric\
            \ Special [a-zA-Z0-9 !\"#$%&'()*+,-./&#92;:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍ\
            ÎÏÑÒÓÔÕÖÙÚÛÜÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], length: 1-50."
          example: Apartment 9
          maxLength: 50
          minLength: 1
          type: string
        city:
          description: "The transfer acceptor's city. Alphanumeric Special [a-zA-Z0-9\
            \ !\"#$%&'()*+,-./&#92;:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÛÜÝàáâãäå\
            çèéêëìíîïñòóôõöùúûüýÿ], length: 1-25."
          example: OFallon
          maxLength: 25
          minLength: 1
          type: string
        country_subdivision:
          description: "The transfer acceptor's province, state or territory, as an\
            \ ISO 3166-2 uppercase alpha 2 or 3 character country subdivision code.\
            \ For example, Missouri is MO."
          example: MO
          maxLength: 3
          minLength: 2
          type: string
        postal_code:
          description: "The transfer acceptor's postal code. For USA, this is 5 digits\
            \ or 5 digits hyphen 4 digits, for example '63368', '63368-5555'. For\
            \ other regions, this is alphanumeric, length 1-10."
          example: "63368"
          maxLength: 10
          minLength: 1
          type: string
        country:
          description: "The transfer acceptor's country as an ISO 3166-1 uppercase\
            \ alpha-3 country code; see [Country and Currency Codes](https://developer.mastercard.com/mastercard-send-person-to-person/documentation/field-uris-codes/country-currency-codes/).\
            \ For example, the United States of America is USA."
          example: USA
          maxLength: 3
          minLength: 3
          type: string
      type: object
      xml:
        name: transfer_acceptor_address
    PaymentTransfer:
      description: Contains the details of the request message.
      example:
        canada_domestic_indicator: true
        token_cryptogram:
          pan_sequence_number: "011"
          type: CONTACTLESS_CHIP
          value: jjoutwsdgfdou124354ljlsdhgout968957
        ds_transaction_id: f38e6948-5388-41a6-bca4-b49723c19437
        channel: WEB
        sender_account_uri: pan:5102589999999921;exp=2077-02;cvc=123
        reconciliation_data:
          custom_field:
          - name: TransactionID
            value: 456FDWBS43
          - name: TransactionID
            value: 456FDWBS43
        participant:
          transfer_acceptor_address:
            country: USA
            city: Chicago
            postal_code: "60618"
            line2: Apartment 9
            line1: 123 Elm St
            country_subdivision: IL
          card_acceptor_id: CardAcceptor123
          merchant_category_code: "6536"
          interchange_rate_designator: A3
          customer_service_contact_info: "8005551234"
        transaction_purpose: "00"
        participation_id: TERMINAL34728
        recipient_account_uri: pan:5102589999999913;exp=2077-02;cvc=123
        statement_descriptor: THANKYOU
        funding_source: DEBIT
        currency: USD
        transfer_reference: DEF123456
        authentication:
          authentication_code: AUTHENTICATED_CAVV
          authentication_value: ucaf:jJJLtQa+Iws8AREAEbjsA1MAAAA
        amount: "5300"
        sanction_screening_override: true
        device_id: DEV123456
        transfer_priority: SIP
        payment_origination_country: USA
        funding_transaction_reference:
          reference_number: trn_8h4me233jk23l6c5lw5f
          network: MASTERCARD
        payment_type: P2P
        sender:
          account_type: "03"
          address:
            country: USA
            city: Chicago
            postal_code: "60618"
            line2: Apartment 9
            line1: 123 Elm St
            country_subdivision: IL
          nationality: USA
          government_ids:
            government_id_uri:
            - ppn:123456789;expiration-date=2050-05-27;issue-date=2011-07-12;issuing-country=USA;issuing-place=OFallon
            - ppn:123456789;expiration-date=2050-05-27;issue-date=2011-07-12;issuing-country=USA;issuing-place=OFallon
          phone: "11234567890"
          date_of_birth: 1999-12-30
          last_name: Jones
          middle_name: Tyler
          first_name: John
          email: test123@abcmail.com
        recipient:
          account_type: "03"
          address:
            country: USA
            city: St. Louis
            postal_code: "63103"
            line2: Apartment 9
            line1: 435 Tucker St
            country_subdivision: MO
          name_on_account: Jane Smith
          nationality: USA
          government_ids:
            government_id_uri:
            - ppn:123456789;expiration-date=2050-05-27;issue-date=2011-07-12;issuing-country=USA;issuing-place=OFallon
            - ppn:123456789;expiration-date=2050-05-27;issue-date=2011-07-12;issuing-country=USA;issuing-place=OFallon
          phone: "11234567890"
          date_of_birth: 1999-12-30
          last_name: Jones
          middle_name: Tyler
          first_name: John
          email: test123@abcmail.com
        location: state:MO
        additional_message: DEV123456
      properties:
        transfer_reference:
          description: "Required. A partner-assigned unique reference identifier for\
            \ the payment transfer. Alphanumeric and * , - . _ ~. Length 6-40."
          example: DEF123456
          maxLength: 40
          minLength: 6
          type: string
        payment_type:
          description: "Conditional. Payment type of the transfer. The allowed payment\
            \ types for the partner must be enabled by Mastercard during onboarding.\
            \ If the partner is enabled for multiple payment types, the appropriate\
            \ payment type must be provided. Otherwise the field is optional. Valid\
            \ values:\n* A2A = General Transfer to Own Account\n* ACO = Agent Cash\
            \ Out\n* C2C = Cash to Card\n* CBP = Payment of Own Credit Card Bill\n\
            * P2P = General Person-to-Person Transfer"
          example: P2P
          maxLength: 3
          minLength: 3
          type: string
        amount:
          description: "Required. The amount to be transferred. Numeric integer, 1-999999999999.\
            \ The decimal point is implied based on the relevant `currency` exponent.\
            \ For example, a US Dollar $53 amount is a value of 5300."
          example: "5300"
          maxLength: 12
          minLength: 1
          type: string
        currency:
          description: "Required. The currency of the `amount` as an ISO 4217 uppercase\
            \ alpha-3 currency code; see [Country and Currency Codes](https://developer.mastercard.com/mastercard-send-person-to-person/documentation/field-uris-codes/country-currency-codes/).\
            \ For example, US Dollars is USD."
          example: USD
          maxLength: 3
          minLength: 3
          type: string
        sender_account_uri:
          description: "Required. URI identifying the sending account. For the allowed\
            \ schemes and format, see [Account URIs](https://developer.mastercard.com/mastercard-send-person-to-person/documentation/field-uris-codes/account-uris/).\
            \ See also [Funding Source](https://developer.mastercard.com/mastercard-send-person-to-person/documentation/field-uris-codes/funding-source/)."
          example: pan:5102589999999921;exp=2077-02;cvc=123
          type: string
        sender:
          $ref: '#/components/schemas/Sender'
        additional_message:
          description: Message a financial institution will associate to the transfer
            and may display. Details- 1-65
          example: DEV123456
          type: string
        funding_source:
          description: "Funding source must contain one of the following: CREDIT,\
            \ DEBIT, PREPAID, DEPOSIT_ACCOUNT, MOBILE_MONEY_ACCOUNT, CASH or OTHER."
          example: DEBIT
          type: string
        transaction_purpose:
          description: "Purpose of the transaction. Valid values: '00' Family Support,\
            \ '01'\_Regular Labor Transfers (expatriates), '02' Travel & Tourism,\
            \ '03' Education, '04' Hospitalization & Medical Treatment, '05' Emergency\
            \ Need, '06' Savings, '07' Gifts, '08' Other, '09' Salary, '10' Crowd\
            \ lending, '11' Crypto currency,\_'12' Refund to original card, '13' Refund\
            \ to new card. String, numeric, length 2."
          example: "00"
          maxLength: 2
          minLength: 2
          type: string
        participation_id:
          description: Participation identifier of the sender. The receiving financial
            institution will associate the value to the transfer. Details- 1-30
          example: TERMINAL34728
          type: string
        canada_domestic_indicator:
          description: "If a Canadian OI, TI or Reseller has elected to include Debit\
            \ Mastercard in scope, the value should be true. Mastercard will decline\
            \ a transaction if the value is not passed as true and it is a Canada\
            \ DMC (Network Response: '81' Domestic Debit Transaction Not Allowed)."
          example: true
          type: boolean
        token_cryptogram:
          $ref: '#/components/schemas/TokenCryptogram'
        ds_transaction_id:
          description: The Directory Server Transaction ID is generated by the EMV
            3DS Mastercard Directory Server during the authentication transaction
            and passed back to the merchant with the authentication results ds_transaction_id
            allows the OI to pass the Directory Server Transaction ID during authorization
            in order to link authentication and authorization data. Values- ans-36
          example: f38e6948-5388-41a6-bca4-b49723c19437
          type: string
        authentication:
          $ref: '#/components/schemas/Authentication'
        recipient_account_uri:
          description: "Required. URI identifying the receiving account. For the allowed\
            \ schemes and format, see [Account URIs](https://developer.mastercard.com/mastercard-send-person-to-person/documentation/field-uris-codes/account-uris/)."
          example: pan:5102589999999913;exp=2077-02;cvc=123
          type: string
        recipient:
          $ref: '#/components/schemas/Recipient'
        payment_origination_country:
          description: "The country where the payment originates from as an ISO 3166-1\
            \ alpha-3 country code, in uppercase. Details - Conditional. If provided,\
            \ this should match a valid country configured for the partner during\
            \ onboarding. If the partner is configured for multiple origination countries\
            \ this field is required and must be provided. Alpha, length: 3"
          example: USA
          maxLength: 3
          minLength: 3
          type: string
        sanction_screening_override:
          description: "The Sanctions Screening Service is suspended until further\
            \ notice. However, you must provide the value 'true'."
          example: true
          type: boolean
        reconciliation_data:
          $ref: '#/components/schemas/ReconciliationData'
        channel:
          description: "Initiation channel of the transfer request. This value can\
            \ be defined in the onboarding process instead of passing in every call.\
            \ Values: WEB, MOBILE, BANK, KIOSK. Details- Conditional"
          example: WEB
          type: string
        statement_descriptor:
          description: "The statement descriptor is the value that will be displayed\
            \ on the recipient's bank or card statement. It consists of two parts:\
            \ the prefix and the content. The prefix is a short string typically used\
            \ to identify the partner. It is defined during onboarding and the same\
            \ value can be provided in the API call. If not provided in the API call,\
            \ system will use the value defined in the onboarding process. The appended\
            \ <prefix>*<content> will be displayed on the recipient's statement. The\
            \ overall length may be at most 22 characters, including the prefix and\
            \ the content. Note: While most financial institutions display this information\
            \ consistently, some may display it per their discretion or not at all.\
            \ Details- 1-22"
          example: THANKYOU
          type: string
        device_id:
          description: The serial number of a device initiating the transfer. Details-
            1-40
          example: DEV123456
          type: string
        location:
          description: Location where the transaction is initiated.
          example: state:MO
          type: string
        funding_transaction_reference:
          $ref: '#/components/schemas/FundingTransactionReference'
        participant:
          $ref: '#/components/schemas/Request_Participant'
        transfer_priority:
          description: "Type of payment instruction to send. Applicable for non-card\
            \ only. Values: SIP - Standard immediate payment (default), FDP - Future\
            \ dated payment"
          example: SIP
          type: string
      required:
      - amount
      - currency
      - funding_source
      - recipient_account_uri
      - sender_account_uri
      - transfer_reference
      type: object
      xml:
        name: payment_transfer
    P2p_Response_Sender_Address:
      description: Address of the sender in response.
      example:
        country: USA
        city: OFallon
        postal_code: "63368"
        line2: Apartment 9
        line1: 1 Main St
        country_subdivision: MO
      properties:
        line1:
          description: "First line of the sender's address. Alphanumeric Special [a-zA-Z0-9\
            \ !\"#$%&'()*+,-./&#92;:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÛÜÝàáâãäå\
            çèéêëìíîïñòóôõöùúûüýÿ], length: 1-50."
          example: 1 Main St
          maxLength: 50
          minLength: 1
          type: string
        line2:
          description: "Second line of the sender's address. Alphanumeric Special\
            \ [a-zA-Z0-9 !\"#$%&'()*+,-./&#92;:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖ\
            ÙÚÛÜÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], length: 1-50."
          example: Apartment 9
          maxLength: 50
          minLength: 1
          type: string
        city:
          description: "The sender's city. Alphanumeric Special [a-zA-Z0-9 !\"#$%&'()*+,-./&#92;:;<=>?@[]_`{|}~À\
            ÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÛÜÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], length: 1-25."
          example: OFallon
          maxLength: 25
          minLength: 1
          type: string
        country_subdivision:
          description: "The sender's province, state or territory, as an ISO 3166-2\
            \ uppercase alpha 2 or 3 character country subdivision code. For example,\
            \ Missouri is MO."
          example: MO
          maxLength: 3
          minLength: 2
          type: string
        postal_code:
          description: "The sender's postal code. For USA, this is 5 digits or 5 digits\
            \ hyphen 4 digits, for example '63368', '63368-5555'. For other regions,\
            \ this is alphanumeric, length 1-10."
          example: "63368"
          maxLength: 10
          minLength: 1
          type: string
        country:
          description: "The sender's country as an ISO 3166-1 uppercase alpha-3 country\
            \ code; see [Country and Currency Codes](https://developer.mastercard.com/mastercard-send-person-to-person/documentation/field-uris-codes/country-currency-codes/).\
            \ For example, the United States of America is USA."
          example: USA
          maxLength: 3
          minLength: 3
          type: string
      type: object
      xml:
        name: address
    P2p_Sender:
      description: Information about the sender of the transaction.
      example:
        account_type: "03"
        address:
          country: USA
          city: OFallon
          postal_code: "63368"
          line2: Apartment 9
          line1: 1 Main St
          country_subdivision: MO
        nationality: USA
        government_ids:
          government_id_uri:
          - ppn:*****6789;expiration-date=2050-05-27;issue-date=2011-07-12;issuing-country=USA;issuing-place=OFallon
          - ppn:*****6789;expiration-date=2050-05-27;issue-date=2011-07-12;issuing-country=USA;issuing-place=OFallon
        phone: "11234567890"
        date_of_birth: 1999-12-30
        last_name: Jones
        middle_name: Tyler
        first_name: John
        email: test123@abcmail.com
        sanction_score: "20"
      properties:
        first_name:
          description: "The sender's first name. Alphanumeric Special [a-zA-Z0-9 !\"\
            #$%&'()*+,-./&#92;:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÛÜÝàáâãäåçèéêë\
            ìíîïñòóôõöùúûüýÿ], length 1-40."
          example: John
          maxLength: 40
          minLength: 1
          type: string
        middle_name:
          description: "The sender's middle name. Alphanumeric Special [a-zA-Z0-9\
            \ !\"#$%&'()*+,-./&#92;:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÛÜÝàáâãäå\
            çèéêëìíîïñòóôõöùúûüýÿ], length 1-40."
          example: Tyler
          maxLength: 40
          minLength: 1
          type: string
        last_name:
          description: "The sender's last name. Alphanumeric Special [a-zA-Z0-9 !\"\
            #$%&'()*+,-./&#92;:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÛÜÝàáâãäåçèéêë\
            ìíîïñòóôõöùúûüýÿ], length 1-40."
          example: Jones
          maxLength: 40
          minLength: 1
          type: string
        nationality:
          description: "The sender's nationality as an ISO 3166-1 uppercase alpha-3\
            \ country code; see [Country and Currency Codes](https://developer.mastercard.com/mastercard-send-person-to-person/documentation/field-uris-codes/country-currency-codes/).\
            \ For example, the United States of America is USA."
          example: USA
          maxLength: 3
          minLength: 3
          type: string
        date_of_birth:
          description: "The sender's date of birth in ISO 8601 full date format (YYYY-MM-DD).\
            \ For example, 30 December 1999 is the value '1999-12-30'. Numeric and\
            \ -, length 10."
          example: 1999-12-30
          maxLength: 10
          minLength: 10
          type: string
        account_type:
          description: "Identifies the sender's account number type. This field is\
            \ optional. Valid values: '00' Other, '01' RTN + Bank Account, '02' IBAN,\
            \ '03' Card Account, '04' Email, '05' Phone Number, '06' Bank account\
            \ number (BAN) + Bank Identification Сode (BIC), '07' Wallet ID, '08'\
            \ Social Network ID. Numeric, 2 characters."
          example: "03"
          maxLength: 2
          minLength: 2
          type: string
        address:
          $ref: '#/components/schemas/P2p_Response_Sender_Address'
        phone:
          description: "The sender's phone number including country code. Numeric,\
            \ length 1-15."
          example: "11234567890"
          maxLength: 15
          minLength: 1
          type: string
        email:
          description: "The sender's email address. Alphanumeric Special [a-zA-Z0-9-@+.*$_],\
            \ length 5-254."
          example: test123@abcmail.com
          maxLength: 254
          minLength: 5
          type: string
        government_ids:
          $ref: '#/components/schemas/GovernmentIdsResponse'
        sanction_score:
          description: This field is not used at this time. The Sanctions Screening
            Service is suspended until further notice.
          example: "20"
          type: string
      type: object
      xml:
        name: sender
    P2p_Response_Recipient_Address:
      description: Address of the recipient in response.
      example:
        country: USA
        city: OFallon
        postal_code: "63368"
        line2: Apartment 9
        line1: 1 Main St
        country_subdivision: MO
      properties:
        line1:
          description: "First line of the recipient's address. Alphanumeric Special\
            \ [a-zA-Z0-9 !\"#$%&'()*+,-./&#92;:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖ\
            ÙÚÛÜÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], length: 1-50."
          example: 1 Main St
          maxLength: 50
          minLength: 1
          type: string
        line2:
          description: "Second line of the recipient's address. Alphanumeric Special\
            \ [a-zA-Z0-9 !\"#$%&'()*+,-./&#92;:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖ\
            ÙÚÛÜÝàáâãäåçèéêëìíîïñòóôõöùúûüýÿ], length: 1-50."
          example: Apartment 9
          maxLength: 50
          minLength: 1
          type: string
        city:
          description: "The recipient's city. Alphanumeric Special [a-zA-Z0-9 !\"\
            #$%&'()*+,-./&#92;:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÛÜÝàáâãäåçèéêë\
            ìíîïñòóôõöùúûüýÿ], length: 1-25."
          example: OFallon
          maxLength: 25
          minLength: 1
          type: string
        country_subdivision:
          description: "The recipient's province, state or territory, as an ISO 3166-2\
            \ uppercase alpha 2 or 3 character country subdivision code. For example,\
            \ Missouri is MO."
          example: MO
          maxLength: 3
          minLength: 2
          type: string
        postal_code:
          description: "The recipient's postal code. For USA, this is 5 digits or\
            \ 5 digits hyphen 4 digits, for example '63368', '63368-5555'. For other\
            \ regions, this is alphanumeric, length 1-10."
          example: "63368"
          maxLength: 10
          minLength: 1
          type: string
        country:
          description: "The recipient's country as an ISO 3166-1 uppercase alpha-3\
            \ country code; see [Country and Currency Codes](https://developer.mastercard.com/mastercard-send-person-to-person/documentation/field-uris-codes/country-currency-codes/).\
            \ For example, the United States of America is USA."
          example: USA
          maxLength: 3
          minLength: 3
          type: string
      type: object
      xml:
        name: address
    P2p_Recipient:
      description: Information about the recipient of the transaction.
      example:
        account_type: "03"
        address:
          country: USA
          city: OFallon
          postal_code: "63368"
          line2: Apartment 9
          line1: 1 Main St
          country_subdivision: MO
        name_on_account: Jane Smith
        nationality: USA
        government_ids:
          government_id_uri:
          - ppn:*****6789;expiration-date=2050-05-27;issue-date=2011-07-12;issuing-country=USA;issuing-place=OFallon
          - ppn:*****6789;expiration-date=2050-05-27;issue-date=2011-07-12;issuing-country=USA;issuing-place=OFallon
        phone: "11234567890"
        date_of_birth: 1999-12-30
        last_name: Jones
        middle_name: Tyler
        first_name: John
        email: test123@abcmail.com
        sanction_score: "20"
      properties:
        first_name:
          description: "The recipient's first name. Alphanumeric Special [a-zA-Z0-9\
            \ !\"#$%&'()*+,-./&#92;:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÛÜÝàáâãäå\
            çèéêëìíîïñòóôõöùúûüýÿ], length 1-40."
          example: John
          maxLength: 40
          minLength: 1
          type: string
        middle_name:
          description: "The recipient's middle name. Alphanumeric Special [a-zA-Z0-9\
            \ !\"#$%&'()*+,-./&#92;:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÛÜÝàáâãäå\
            çèéêëìíîïñòóôõöùúûüýÿ], length 1-40."
          example: Tyler
          maxLength: 40
          minLength: 1
          type: string
        last_name:
          description: "The recipient's last name. Alphanumeric Special [a-zA-Z0-9\
            \ !\"#$%&'()*+,-./&#92;:;<=>?@[]_`{|}~ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÛÜÝàáâãäå\
            çèéêëìíîïñòóôõöùúûüýÿ], length 1-40."
          example: Jones
          maxLength: 40
          minLength: 1
          type: string
        nationality:
          description: "The recipient's nationality as an ISO 3166-1 uppercase alpha-3\
            \ country code; see [Country and Currency Codes](https://developer.mastercard.com/mastercard-send-person-to-person/documentation/field-uris-codes/country-currency-codes/).\
            \ For example, the United States of America is USA."
          example: USA
          maxLength: 3
          minLength: 3
          type: string
        date_of_birth:
          description: "The recipient's date of birth in ISO 8601 full date format\
            \ (YYYY-MM-DD). For example, 30 December 1999 is the value '1999-12-30'.\
            \ Numeric and -, length 10."
          example: 1999-12-30
          maxLength: 10
          minLength: 10
          type: string
        account_type:
          description: "Identifies the recipient's account number type. This field\
            \ is optional. Valid values: '00' Other, '01' RTN + Bank Account, '02'\
            \ IBAN, '03' Card Account, '04' Email, '05' Phone Number, '06' Bank account\
            \ number (BAN) + Bank Identification Сode (BIC), '07' Wallet ID, '08'\
            \ Social Network ID. Numeric, 2 characters."
          example: "03"
          maxLength: 2
          minLength: 2
          type: string
        address:
          $ref: '#/components/schemas/P2p_Response_Recipient_Address'
        phone:
          description: "The recipient's phone number including country code. Numeric,\
            \ length 1-15."
          example: "11234567890"
          maxLength: 15
          minLength: 1
          type: string
        email:
          description: "The recipient's email address. Alphanumeric Special [a-zA-Z0-9-@+.*$_],\
            \ length 5-254."
          example: test123@abcmail.com
          maxLength: 254
          minLength: 5
          type: string
        government_ids:
          $ref: '#/components/schemas/GovernmentIdsResponse'
        name_on_account:
          description: "Name on the account. Applicable for non-card only. Allowable\
            \ characters are alphanumeric and - / ? : ( ) . + # = ! % & * < > ; {\
            \ @ ' \" characters. Details- 1-40"
          example: Jane Smith
          type: string
        sanction_score:
          description: This field is not used at this time. The Sanctions Screening
            Service is suspended until further notice.
          example: "20"
          type: string
      type: object
      xml:
        name: recipient
    TransferAmount:
      description: Describes the amount paid to the recipient.
      example:
        currency: USD
        value: "5300"
      properties:
        value:
          description: "The transfer amount. Numeric integer, 1-999999999999. The\
            \ decimal point is implied based on the relevant `currency` exponent.\
            \ For example, a US Dollar $53 amount is a value of 5300."
          example: "5300"
          maxLength: 12
          minLength: 1
          type: string
        currency:
          description: "The currency of the transfer amount as an ISO 4217 uppercase\
            \ alpha-3 currency code; see [Country and Currency Codes](https://developer.mastercard.com/mastercard-send-person-to-person/documentation/field-uris-codes/country-currency-codes/).\
            \ For example, US Dollars is USD."
          example: USD
          maxLength: 3
          minLength: 3
          type: string
      type: object
      xml:
        name: transfer_amount
    TransactionAmount:
      description: transaction amount consist of value and currency
      example:
        currency: USD
        value: "5300"
      properties:
        value:
          description: "The transaction amount. Numeric integer, 1-999999999999. The\
            \ decimal point is implied based on the relevant `currency` exponent.\
            \ For example, a US Dollar $53 amount is a value of 5300."
          example: "5300"
          maxLength: 12
          minLength: 1
          type: string
        currency:
          description: "The currency of the transaction amount as an ISO 4217 uppercase\
            \ alpha-3 currency code; see [Country and Currency Codes](https://developer.mastercard.com/mastercard-send-person-to-person/documentation/field-uris-codes/country-currency-codes/).\
            \ For example, US Dollars is USD."
          example: USD
          maxLength: 3
          minLength: 3
          type: string
      type: object
      xml:
        name: transaction_amount
    Transaction:
      description: Transaction array
      example:
        retrieval_reference: "624200192616"
        system_trace_audit_number: "926162"
        transaction_amount:
          currency: USD
          value: "5300"
        resource_type: transaction
        type: PAYMENT
        network: MasterCard
        create_timestamp: 2021-04-16T13:28:15-05:00
        funds_availability: IMMEDIATE
        id: txn_6OfMaoFhuRR1nKUu5EX5wREXcqs8
        status_timestamp: 2021-04-16T13:28:15-05:00
        status_reason: APPROVED
        account_uri: pan:************9913
        status: APPROVED
        unique_reference_number: "592087939"
      properties:
        id:
          description: "The ID for the Payment Transaction. Alphanumeric and * , -\
            \ . _ ~."
          example: txn_6OfMaoFhuRR1nKUu5EX5wREXcqs8
          type: string
        resource_type:
          description: "The type of resource being returned: transaction."
          example: transaction
          maxLength: 11
          minLength: 11
          type: string
        account_uri:
          description: "URI describing the receiving account. It will include masked\
            \ account information (e.g. \"************9913\" for a card account) but\
            \ will not include security codes (e.g. CVC or expiration date for a card\
            \ account). See [Account URIs](https://developer.mastercard.com/mastercard-send-person-to-person/documentation/field-uris-codes/account-uris/)."
          example: pan:************9913
          type: string
        transaction_amount:
          $ref: '#/components/schemas/TransactionAmount'
        network:
          description: Proposed network for the transaction.
          example: MasterCard
          type: string
        funds_availability:
          description: "An estimate of when the funds might be available. Actual Deposit\
            \ Availability is determined by the financial institution. One of: IMMEDIATE,\
            \ SAME_DAY, NEXT_CALENDAR_DAY, NEXT_BUSINESS_DAY, TWO_TO_FIVE_BUSINESS_DAYS,\
            \ or UNKNOWN."
          example: IMMEDIATE
          type: string
        type:
          description: "Type of the transaction. One of: FUNDING, PAYMENT, FUNDING_REVERSAL,\
            \ or PAYMENT_REVERSAL."
          example: PAYMENT
          type: string
        create_timestamp:
          description: "Date and time the transaction was created, as an ISO 8601\
            \ timestamp in the format YYYY-MM-DDTHH:MM:SS±hh:mm. Refer to 'Date and\
            \ Time Formats'."
          example: 2021-04-16T13:28:15-05:00
          type: string
        status:
          description: "Status of the transfer. One of APPROVED, DECLINED, UNKNOWN,\
            \ ERROR, PENDING. PENDING is possible for non-card transactions (not applicable\
            \ to card)."
          example: APPROVED
          type: string
        status_reason:
          description: "Reason for status. One of APPROVED, DECLINED, UNKNOWN, ERROR,\
            \ PENDING, FRAUD, CARD_EXPIRED, LIMIT_EXCEEDED. PENDING is possible for\
            \ non-card transactions (not applicable to card)."
          example: APPROVED
          type: string
        status_timestamp:
          description: "Date and time the status was changed to its current value,\
            \ as an ISO 8601 timestamp in the format YYYY-MM-DDTHH:MM:SS±hh:mm. Refer\
            \ to 'Date and Time Formats'."
          example: 2021-04-16T13:28:15-05:00
          type: string
        retrieval_reference:
          description: Unique reference number that identifies the transaction at
            the network. Details- maximum length 24
          example: "624200192616"
          type: string
        system_trace_audit_number:
          description: "Unique system trace audit number for the transaction, the\
            \ STAN (system trace audit number). Details- maximum length 6"
          example: "926162"
          type: string
        unique_reference_number:
          description: "Unique reference number for the transaction. Type: Alphanumeric\
            \ [a-zA-Z 0-9], Maximum Length: 19"
          example: "592087939"
          type: string
      type: object
      xml:
        name: transaction
    Data:
      description: An array containing the Transactions in the transfer.
      example:
        transaction:
        - retrieval_reference: "624200192616"
          system_trace_audit_number: "926162"
          transaction_amount:
            currency: USD
            value: "5300"
          resource_type: transaction
          type: PAYMENT
          network: MasterCard
          create_timestamp: 2021-04-16T13:28:15-05:00
          funds_availability: IMMEDIATE
          id: txn_6OfMaoFhuRR1nKUu5EX5wREXcqs8
          status_timestamp: 2021-04-16T13:28:15-05:00
          status_reason: APPROVED
          account_uri: pan:************9913
          status: APPROVED
          unique_reference_number: "592087939"
        - retrieval_reference: "624200192616"
          system_trace_audit_number: "926162"
          transaction_amount:
            currency: USD
            value: "5300"
          resource_type: transaction
          type: PAYMENT
          network: MasterCard
          create_timestamp: 2021-04-16T13:28:15-05:00
          funds_availability: IMMEDIATE
          id: txn_6OfMaoFhuRR1nKUu5EX5wREXcqs8
          status_timestamp: 2021-04-16T13:28:15-05:00
          status_reason: APPROVED
          account_uri: pan:************9913
          status: APPROVED
          unique_reference_number: "592087939"
      properties:
        transaction:
          description: transaction array
          items:
            $ref: '#/components/schemas/Transaction'
          type: array
      type: object
      xml:
        name: data
    TransactionHistory:
      description: A list of all Transactions in the transfer including reversals.
      example:
        item_count: 1
        data:
          transaction:
          - retrieval_reference: "624200192616"
            system_trace_audit_number: "926162"
            transaction_amount:
              currency: USD
              value: "5300"
            resource_type: transaction
            type: PAYMENT
            network: MasterCard
            create_timestamp: 2021-04-16T13:28:15-05:00
            funds_availability: IMMEDIATE
            id: txn_6OfMaoFhuRR1nKUu5EX5wREXcqs8
            status_timestamp: 2021-04-16T13:28:15-05:00
            status_reason: APPROVED
            account_uri: pan:************9913
            status: APPROVED
            unique_reference_number: "592087939"
          - retrieval_reference: "624200192616"
            system_trace_audit_number: "926162"
            transaction_amount:
              currency: USD
              value: "5300"
            resource_type: transaction
            type: PAYMENT
            network: MasterCard
            create_timestamp: 2021-04-16T13:28:15-05:00
            funds_availability: IMMEDIATE
            id: txn_6OfMaoFhuRR1nKUu5EX5wREXcqs8
            status_timestamp: 2021-04-16T13:28:15-05:00
            status_reason: APPROVED
            account_uri: pan:************9913
            status: APPROVED
            unique_reference_number: "592087939"
        resource_type: list
      properties:
        resource_type:
          description: "The type of resource being returned: list."
          example: list
          maxLength: 4
          minLength: 4
          type: string
        item_count:
          description: "The number of Transactions in the list: 1."
          example: 1
          format: int64
          type: integer
        data:
          $ref: '#/components/schemas/Data'
      type: object
      xml:
        name: transaction_history
    TransactionGet:
      description: Transaction array
      example:
        retrieval_reference: "624200192616"
        system_trace_audit_number: "926162"
        transaction_amount:
          currency: USD
          value: "5300"
        resource_type: transaction
        type: PAYMENT
        network: MasterCard
        network_status_code: "00"
        create_timestamp: 2021-04-16T13:28:15-05:00
        network_status_description: Approved
        funds_availability: IMMEDIATE
        id: txn_6OfMaoFhuRR1nKUu5EX5wREXcqs8
        status_timestamp: 2021-04-16T13:28:15-05:00
        status_reason: APPROVED
        account_uri: pan:************9913
        status: APPROVED
        unique_reference_number: "592087939"
      properties:
        id:
          description: "The ID for the Payment Transaction. Alphanumeric and * , -\
            \ . _ ~."
          example: txn_6OfMaoFhuRR1nKUu5EX5wREXcqs8
          type: string
        resource_type:
          description: "The type of resource being returned: transaction."
          example: transaction
          maxLength: 11
          minLength: 11
          type: string
        account_uri:
          description: "URI describing the receiving account. It will include masked\
            \ account information (e.g. \"************9913\" for a card account) but\
            \ will not include security codes (e.g. CVC or expiration date for a card\
            \ account). See [Account URIs](https://developer.mastercard.com/mastercard-send-person-to-person/documentation/field-uris-codes/account-uris/)."
          example: pan:************9913
          type: string
        transaction_amount:
          $ref: '#/components/schemas/TransactionAmount'
        network:
          description: Proposed network for the transaction.
          example: MasterCard
          type: string
        network_status_code:
          description: Network Status Code.
          example: "00"
          type: string
        network_status_description:
          description: Network Status Description.
          example: Approved
          type: string
        funds_availability:
          description: "An estimate of when the funds might be available. Actual Deposit\
            \ Availability is determined by the financial institution. One of: IMMEDIATE,\
            \ SAME_DAY, NEXT_CALENDAR_DAY, NEXT_BUSINESS_DAY, TWO_TO_FIVE_BUSINESS_DAYS,\
            \ or UNKNOWN."
          example: IMMEDIATE
          type: string
        type:
          description: "Type of the transaction. One of: FUNDING, PAYMENT, FUNDING_REVERSAL,\
            \ or PAYMENT_REVERSAL."
          example: PAYMENT
          type: string
        create_timestamp:
          description: "Date and time the transaction was created, as an ISO 8601\
            \ timestamp in the format YYYY-MM-DDTHH:MM:SS±hh:mm. Refer to 'Date and\
            \ Time Formats'."
          example: 2021-04-16T13:28:15-05:00
          type: string
        status:
          description: "Status of the transfer. One of APPROVED, DECLINED, UNKNOWN,\
            \ ERROR, PENDING."
          example: APPROVED
          type: string
        status_reason:
          description: "Reason for status. One of APPROVED, DECLINED, UNKNOWN, ERROR,\
            \ PENDING, FRAUD, CARD_EXPIRED, LIMIT_EXCEEDED."
          example: APPROVED
          type: string
        status_timestamp:
          description: "Date and time the status was changed to its current value,\
            \ as an ISO 8601 timestamp in the format YYYY-MM-DDTHH:MM:SS±hh:mm. Refer\
            \ to 'Date and Time Formats'."
          example: 2021-04-16T13:28:15-05:00
          type: string
        retrieval_reference:
          description: Unique reference number that identifies the transaction at
            the network. Details- maxlength 24
          example: "624200192616"
          type: string
        system_trace_audit_number:
          description: "Unique system trace audit number for the transaction, the\
            \ STAN (system trace audit number). Details- maxlength 6"
          example: "926162"
          type: string
        unique_reference_number:
          description: "Unique reference number for the transaction. Type: Alphanumeric\
            \ [a-zA-Z 0-9], Maximum Length: 19"
          example: "592087939"
          type: string
      type: object
      xml:
        name: transaction
    DataGet:
      description: An array containing the Transactions in the transfer.
      example:
        transaction:
        - retrieval_reference: "624200192616"
          system_trace_audit_number: "926162"
          transaction_amount:
            currency: USD
            value: "5300"
          resource_type: transaction
          type: PAYMENT
          network: MasterCard
          network_status_code: "00"
          create_timestamp: 2021-04-16T13:28:15-05:00
          network_status_description: Approved
          funds_availability: IMMEDIATE
          id: txn_6OfMaoFhuRR1nKUu5EX5wREXcqs8
          status_timestamp: 2021-04-16T13:28:15-05:00
          status_reason: APPROVED
          account_uri: pan:************9913
          status: APPROVED
          unique_reference_number: "592087939"
        - retrieval_reference: "624200192616"
          system_trace_audit_number: "926162"
          transaction_amount:
            currency: USD
            value: "5300"
          resource_type: transaction
          type: PAYMENT
          network: MasterCard
          network_status_code: "00"
          create_timestamp: 2021-04-16T13:28:15-05:00
          network_status_description: Approved
          funds_availability: IMMEDIATE
          id: txn_6OfMaoFhuRR1nKUu5EX5wREXcqs8
          status_timestamp: 2021-04-16T13:28:15-05:00
          status_reason: APPROVED
          account_uri: pan:************9913
          status: APPROVED
          unique_reference_number: "592087939"
      properties:
        transaction:
          description: transaction array
          items:
            $ref: '#/components/schemas/TransactionGet'
          type: array
      type: object
      xml:
        name: data
    TransactionHistoryGet:
      description: A list of all Transactions in the transfer including reversals.
      example:
        item_count: 1
        data:
          transaction:
          - retrieval_reference: "624200192616"
            system_trace_audit_number: "926162"
            transaction_amount:
              currency: USD
              value: "5300"
            resource_type: transaction
            type: PAYMENT
            network: MasterCard
            network_status_code: "00"
            create_timestamp: 2021-04-16T13:28:15-05:00
            network_status_description: Approved
            funds_availability: IMMEDIATE
            id: txn_6OfMaoFhuRR1nKUu5EX5wREXcqs8
            status_timestamp: 2021-04-16T13:28:15-05:00
            status_reason: APPROVED
            account_uri: pan:************9913
            status: APPROVED
            unique_reference_number: "592087939"
          - retrieval_reference: "624200192616"
            system_trace_audit_number: "926162"
            transaction_amount:
              currency: USD
              value: "5300"
            resource_type: transaction
            type: PAYMENT
            network: MasterCard
            network_status_code: "00"
            create_timestamp: 2021-04-16T13:28:15-05:00
            network_status_description: Approved
            funds_availability: IMMEDIATE
            id: txn_6OfMaoFhuRR1nKUu5EX5wREXcqs8
            status_timestamp: 2021-04-16T13:28:15-05:00
            status_reason: APPROVED
            account_uri: pan:************9913
            status: APPROVED
            unique_reference_number: "592087939"
        resource_type: list
      properties:
        resource_type:
          description: "The type of resource being returned: list."
          example: list
          maxLength: 4
          minLength: 4
          type: string
        item_count:
          description: "Number of Transactions in the list. Details- Numeric Example:\
            \ 1"
          example: 1
          format: int64
          type: integer
        data:
          $ref: '#/components/schemas/DataGet'
      type: object
      xml:
        name: transaction_history
    P2p_CustomField:
      description: Contains custom field names and values to appear in the reconciliation
        report. This can be a list of multiple name/value pairs in response. The names
        provided must match the configured in the partner setup.
      example:
        name: TransactionID
        value: 456FDWBS43
      properties:
        name:
          description: Name to be displayed in the reconciliation report. This value
            will appear as a header in the reconciliation reports. Name values to
            be defined during the onboarding process. Details- 1-40
          example: TransactionID
          type: string
        value:
          description: Value to be displayed in the reconciliation report. Details-
            1-200
          example: 456FDWBS43
          type: string
      type: object
      xml:
        name: custom_field
    P2p_ReconciliationData:
      description: Reconciliation information in response that will be associated
        to the transfer and will appear in the reconciliation reporting for the partner.
      example:
        custom_field:
        - name: TransactionID
          value: 456FDWBS43
        - name: TransactionID
          value: 456FDWBS43
      properties:
        custom_field:
          description: Contains custom field names and values to appear in the reconciliation
            report. This can be a list of multiple name/value pairs in response. The
            names provided must match the configured in the partner setup.
          items:
            $ref: '#/components/schemas/P2p_CustomField'
          type: array
      type: object
      xml:
        name: reconciliation_data
    Transfer:
      description: Transfer array
      example:
        canada_domestic_indicator: true
        original_status: APPROVED
        faster_payments_id: YE78126Q54WK2J06M33020170720826608371
        channel: WEB
        sender_account_uri: pan:************9921
        reconciliation_data:
          custom_field:
          - name: TransactionID
            value: 456FDWBS43
          - name: TransactionID
            value: 456FDWBS43
        participant:
          transfer_acceptor_address:
            country: USA
            city: OFallon
            postal_code: "63368"
            line2: Apartment 9
            line1: 1 Main St
            country_subdivision: MO
          card_acceptor_id: CardAcceptor123
          merchant_category_code: "6536"
          interchange_rate_designator: A3
          customer_service_contact_info: "8005551234"
        transaction_purpose: "00"
        recipient_account_uri: pan:************9913
        statement_descriptor: THANKYOU
        funding_source: DEBIT
        id: trn_tN3S2cKGNt4hSmPwknYaiJd2BJrM
        transfer_reference: DEF123456
        status_timestamp: 2021-04-16T13:28:15-05:00
        sanction_screening_override: false
        payment_uid: 32e2f3f9-dee4-4d10-a470-3dfa01dbf118
        device_id: DEV123456
        transaction_history:
          item_count: 1
          data:
            transaction:
            - retrieval_reference: "624200192616"
              system_trace_audit_number: "926162"
              transaction_amount:
                currency: USD
                value: "5300"
              resource_type: transaction
              type: PAYMENT
              network: MasterCard
              create_timestamp: 2021-04-16T13:28:15-05:00
              funds_availability: IMMEDIATE
              id: txn_6OfMaoFhuRR1nKUu5EX5wREXcqs8
              status_timestamp: 2021-04-16T13:28:15-05:00
              status_reason: APPROVED
              account_uri: pan:************9913
              status: APPROVED
              unique_reference_number: "592087939"
            - retrieval_reference: "624200192616"
              system_trace_audit_number: "926162"
              transaction_amount:
                currency: USD
                value: "5300"
              resource_type: transaction
              type: PAYMENT
              network: MasterCard
              create_timestamp: 2021-04-16T13:28:15-05:00
              funds_availability: IMMEDIATE
              id: txn_6OfMaoFhuRR1nKUu5EX5wREXcqs8
              status_timestamp: 2021-04-16T13:28:15-05:00
              status_reason: APPROVED
              account_uri: pan:************9913
              status: APPROVED
              unique_reference_number: "592087939"
          resource_type: list
        transfer_priority: SIP
        created: 2021-04-16T13:28:15-05:00
        payment_origination_country: USA
        resource_type: transfer
        payment_type: P2P
        sender:
          account_type: "03"
          address:
            country: USA
            city: OFallon
            postal_code: "63368"
            line2: Apartment 9
            line1: 1 Main St
            country_subdivision: MO
          nationality: USA
          government_ids:
            government_id_uri:
            - ppn:*****6789;expiration-date=2050-05-27;issue-date=2011-07-12;issuing-country=USA;issuing-place=OFallon
            - ppn:*****6789;expiration-date=2050-05-27;issue-date=2011-07-12;issuing-country=USA;issuing-place=OFallon
          phone: "11234567890"
          date_of_birth: 1999-12-30
          last_name: Jones
          middle_name: Tyler
          first_name: John
          email: test123@abcmail.com
          sanction_score: "20"
        transfer_amount:
          currency: USD
          value: "5300"
        recipient:
          account_type: "03"
          address:
            country: USA
            city: OFallon
            postal_code: "63368"
            line2: Apartment 9
            line1: 1 Main St
            country_subdivision: MO
          name_on_account: Jane Smith
          nationality: USA
          government_ids:
            government_id_uri:
            - ppn:*****6789;expiration-date=2050-05-27;issue-date=2011-07-12;issuing-country=USA;issuing-place=OFallon
            - ppn:*****6789;expiration-date=2050-05-27;issue-date=2011-07-12;issuing-country=USA;issuing-place=OFallon
          phone: "11234567890"
          date_of_birth: 1999-12-30
          last_name: Jones
          middle_name: Tyler
          first_name: John
          email: test123@abcmail.com
          sanction_score: "20"
        location: state:MO
        status: APPROVED
      properties:
        id:
          description: "The system-generated Transfer ID for the payment transfer.\
            \ Alphanumeric and * , - . _ ~."
          example: trn_tN3S2cKGNt4hSmPwknYaiJd2BJrM
          type: string
        resource_type:
          description: "The type of resource being returned: transfer."
          example: transfer
          maxLength: 8
          minLength: 8
          type: string
        transfer_reference:
          description: "The partner-assigned unique reference identifier for the payment\
            \ transfer. Alphanumeric and * , - . _ ~. Length 6-40."
          example: DEF123456
          maxLength: 40
          minLength: 6
          type: string
        payment_type:
          description: |-
            Payment type of the transfer:
            * A2A = General Transfer to Own Account
            * ACO = Agent Cash Out
            * C2C = Cash to Card
            * CBP = Payment of Own Credit Card Bill
            * P2P = General Person-to-Person Transfer
          example: P2P
          maxLength: 3
          minLength: 3
          type: string
        payment_origination_country:
          description: "Country where the payment originated from as an ISO 3166-1\
            \ alpha-3 country code, in uppercase. Details- Alpha, Length: 3"
          example: USA
          maxLength: 3
          minLength: 3
          type: string
        sender_account_uri:
          description: "URI describing the sending account. It will include masked\
            \ account information (e.g. \"************9921\" for a card account) but\
            \ will not include security codes (e.g. CVC or expiration date for a card\
            \ account). See [Account URIs](https://developer.mastercard.com/mastercard-send-person-to-person/documentation/field-uris-codes/account-uris/)."
          example: pan:************9921
          type: string
        sender:
          $ref: '#/components/schemas/P2p_Sender'
        funding_source:
          description: "Funding source must contain one of the following: CREDIT,\
            \ DEBIT, PREPAID, DEPOSIT_ACCOUNT, MOBILE_MONEY_ACCOUNT, CASH or OTHER."
          example: DEBIT
          type: string
        transaction_purpose:
          description: "Purpose of the transaction. Valid values: '00' Family Support,\
            \ '01'\_Regular Labor Transfers (expatriates), '02' Travel & Tourism,\
            \ '03' Education, '04' Hospitalization & Medical Treatment, '05' Emergency\
            \ Need, '06' Savings, '07' Gifts, '08' Other, '09' Salary, '10' Crowd\
            \ lending, '11' Crypto currency,\_'12' Refund to original card, '13' Refund\
            \ to new card. String, numeric, length 2."
          example: "00"
          maxLength: 2
          minLength: 2
          type: string
        recipient_account_uri:
          description: "URI describing the receiving account. It will include masked\
            \ account information (e.g. \"************9913\" for a card account) but\
            \ will not include security codes (e.g. CVC or expiration date for a card\
            \ account). See [Account URIs](https://developer.mastercard.com/mastercard-send-person-to-person/documentation/field-uris-codes/account-uris/)."
          example: pan:************9913
          type: string
        recipient:
          $ref: '#/components/schemas/P2p_Recipient'
        sanction_screening_override:
          description: This field is not used at this time. The Sanctions Screening
            Service is suspended until further notice.
          example: false
          type: boolean
        transfer_amount:
          $ref: '#/components/schemas/TransferAmount'
        created:
          description: "Date and time the original transfer was created, as an ISO\
            \ 8601 timestamp in the format YYYY-MM-DDTHH:MM:SS±hh:mm. Refer to 'Date\
            \ and Time Formats'."
          example: 2021-04-16T13:28:15-05:00
          type: string
        transaction_history:
          $ref: '#/components/schemas/TransactionHistory'
        reconciliation_data:
          $ref: '#/components/schemas/P2p_ReconciliationData'
        statement_descriptor:
          description: "The statement descriptor is the value that will be displayed\
            \ on the recipient's bank or card statement. It consists of two parts:\
            \ the prefix and the content. The prefix is a short string typically used\
            \ to identify the partner. The appended <prefix>*<content> will be displayed\
            \ on the recipient's statement. Note: While most financial institutions\
            \ display this information consistently, some may display it incorrectly\
            \ or not at all."
          example: THANKYOU
          type: string
        channel:
          description: "Initiation channel of the transfer request. Values: WEB, MOBILE,\
            \ BANK, KIOSK."
          example: WEB
          type: string
        device_id:
          description: The serial number of a device that initiated the transfer.
          example: DEV123456
          type: string
        location:
          description: Location where the transaction is initiated.
          example: state:MO
          type: string
        original_status:
          description: "Original status of the transfer. One of APPROVED, DECLINED,\
            \ UNKNOWN, ERROR, PENDING, CANCELLED. PENDING and CANCELLED are possible\
            \ for non-card transactions (not applicable to card)."
          example: APPROVED
          type: string
        status:
          description: "Status of the transfer. One of APPROVED, UNKNOWN, PENDING,\
            \ CANCELLED. PENDING and CANCELLED are possible for non-card transactions\
            \ (not applicable to card). PENDING indicates the transaction is still\
            \ in progress."
          example: APPROVED
          type: string
        status_timestamp:
          description: "Date and time the status was changed to its current value,\
            \ as an ISO 8601 timestamp in the format YYYY-MM-DDTHH:MM:SS±hh:mm. Refer\
            \ to 'Date and Time Formats'."
          example: 2021-04-16T13:28:15-05:00
          type: string
        participant:
          $ref: '#/components/schemas/Response_Participant'
        transfer_priority:
          description: "Type of payment instruction to send. Applicable for non-card\
            \ only. Values: SIP - Standard immediate payment (default), FDP - Future\
            \ dated payment"
          example: SIP
          type: string
        faster_payments_id:
          description: "Unique identifier of the payment within the scheme. 42 character\
            \ string, in which the last five characters are almost always spaces.\
            \ Applicable for non-card only."
          example: YE78126Q54WK2J06M33020170720826608371
          type: string
        payment_uid:
          description: Unique identifier of the payment the notification relates to.
            Applicable for non-card only.
          example: 32e2f3f9-dee4-4d10-a470-3dfa01dbf118
          type: string
        canada_domestic_indicator:
          description: "If a Canadian OI, TI or Reseller has elected to include Debit\
            \ Mastercard in scope, the value should be true. Mastercard will decline\
            \ a transaction if the value is not passed as true and it is a Canada\
            \ DMC (Network Response: '81' Domestic Debit Transaction Not Allowed)."
          example: true
          type: boolean
      type: object
      xml:
        name: transfer
    TransferGet:
      description: Transfer array
      example:
        canada_domestic_indicator: true
        original_status: APPROVED
        faster_payments_id: YE78126Q54WK2J06M33020170720826608371
        channel: WEB
        sender_account_uri: pan:************9921
        reconciliation_data:
          custom_field:
          - name: TransactionID
            value: 456FDWBS43
          - name: TransactionID
            value: 456FDWBS43
        participant:
          transfer_acceptor_address:
            country: USA
            city: OFallon
            postal_code: "63368"
            line2: Apartment 9
            line1: 1 Main St
            country_subdivision: MO
          card_acceptor_id: CardAcceptor123
          merchant_category_code: "6536"
          interchange_rate_designator: A3
          customer_service_contact_info: "8005551234"
        transaction_purpose: "00"
        recipient_account_uri: pan:************9913
        statement_descriptor: THANKYOU
        funding_source: DEBIT
        id: trn_tN3S2cKGNt4hSmPwknYaiJd2BJrM
        transfer_reference: DEF123456
        status_timestamp: 2021-04-16T13:28:15-05:00
        sanction_screening_override: false
        payment_uid: 32e2f3f9-dee4-4d10-a470-3dfa01dbf118
        device_id: DEV123456
        transaction_history:
          item_count: 1
          data:
            transaction:
            - retrieval_reference: "624200192616"
              system_trace_audit_number: "926162"
              transaction_amount:
                currency: USD
                value: "5300"
              resource_type: transaction
              type: PAYMENT
              network: MasterCard
              network_status_code: "00"
              create_timestamp: 2021-04-16T13:28:15-05:00
              network_status_description: Approved
              funds_availability: IMMEDIATE
              id: txn_6OfMaoFhuRR1nKUu5EX5wREXcqs8
              status_timestamp: 2021-04-16T13:28:15-05:00
              status_reason: APPROVED
              account_uri: pan:************9913
              status: APPROVED
              unique_reference_number: "592087939"
            - retrieval_reference: "624200192616"
              system_trace_audit_number: "926162"
              transaction_amount:
                currency: USD
                value: "5300"
              resource_type: transaction
              type: PAYMENT
              network: MasterCard
              network_status_code: "00"
              create_timestamp: 2021-04-16T13:28:15-05:00
              network_status_description: Approved
              funds_availability: IMMEDIATE
              id: txn_6OfMaoFhuRR1nKUu5EX5wREXcqs8
              status_timestamp: 2021-04-16T13:28:15-05:00
              status_reason: APPROVED
              account_uri: pan:************9913
              status: APPROVED
              unique_reference_number: "592087939"
          resource_type: list
        transfer_priority: SIP
        created: 2021-04-16T13:28:15-05:00
        payment_origination_country: USA
        resource_type: transfer
        payment_type: P2P
        sender:
          account_type: "03"
          address:
            country: USA
            city: OFallon
            postal_code: "63368"
            line2: Apartment 9
            line1: 1 Main St
            country_subdivision: MO
          nationality: USA
          government_ids:
            government_id_uri:
            - ppn:*****6789;expiration-date=2050-05-27;issue-date=2011-07-12;issuing-country=USA;issuing-place=OFallon
            - ppn:*****6789;expiration-date=2050-05-27;issue-date=2011-07-12;issuing-country=USA;issuing-place=OFallon
          phone: "11234567890"
          date_of_birth: 1999-12-30
          last_name: Jones
          middle_name: Tyler
          first_name: John
          email: test123@abcmail.com
          sanction_score: "20"
        transfer_amount:
          currency: USD
          value: "5300"
        recipient:
          account_type: "03"
          address:
            country: USA
            city: OFallon
            postal_code: "63368"
            line2: Apartment 9
            line1: 1 Main St
[...]
